@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?44rxnl');
  src:  url('fonts/icomoon.eot?44rxnl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?44rxnl') format('truetype'),
    url('fonts/icomoon.woff?44rxnl') format('woff'),
    url('fonts/icomoon.svg?44rxnl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-air-conditioner:before {
  content: "\e900";
}
.icon-airplane-shape:before {
  content: "\e901";
}
.icon-arm-muscles-silhouette:before {
  content: "\e902";
}
.icon-arrow-point-to-right:before {
  content: "\e903";
}
.icon-attention:before {
  content: "\e904";
}
.icon-balcony:before {
  content: "\e905";
}
.icon-ball-of-the-knee:before {
  content: "\e906";
}
.icon-book:before {
  content: "\e907";
}
.icon-bowl-with-vegetables:before {
  content: "\e908";
}
.icon-brain-1:before {
  content: "\e909";
}
.icon-brain:before {
  content: "\e90a";
}
.icon-brain-and-head:before {
  content: "\e90b";
  color: #fff;
}
.icon-bus-side-view:before {
  content: "\e90c";
}
.icon-cable-car:before {
  content: "\e90d";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-cardio:before {
  content: "\e90f";
}
.icon-cardiogram:before {
  content: "\e910";
}
.icon-checked-symbol:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e912";
}
.icon-clock-circular-outline:before {
  content: "\e913";
}
.icon-cloud:before {
  content: "\e914";
}
.icon-cocktail-with-lemon-slice:before {
  content: "\e915";
}
.icon-correct-symbol:before {
  content: "\e916";
}
.icon-credit-card-and-machine:before {
  content: "\e917";
}
.icon-credit-cards-payment:before {
  content: "\e918";
}
.icon-dancer-with-music:before {
  content: "\e919";
}
.icon-dinner:before {
  content: "\e91a";
}
.icon-disabled:before {
  content: "\e91b";
}
.icon-docs:before {
  content: "\e91c";
}
.icon-doctor-1:before {
  content: "\e91d";
  color: #fff;
}
.icon-doctor-2:before {
  content: "\e91e";
}
.icon-doctor-3:before {
  content: "\e91f";
}
.icon-doctor-4:before {
  content: "\e920";
}
.icon-doctor:before {
  content: "\e921";
}
.icon-droplet-of-water:before {
  content: "\e922";
}
.icon-drugs:before {
  content: "\e923";
  color: #fff;
}
.icon-edit:before {
  content: "\e924";
  color: #fff;
}
.icon-error-triangle:before {
  content: "\e925";
}
.icon-exchange-arrows:before {
  content: "\e926";
  color: #fff;
}
.icon-facebook-logo-button:before {
  content: "\e927";
  color: #fff;
}
.icon-family-group:before {
  content: "\e928";
}
.icon-fence:before {
  content: "\e929";
}
.icon-fridge:before {
  content: "\e92a";
}
.icon-front-bus:before {
  content: "\e92b";
}
.icon-gift:before {
  content: "\e92c";
}
.icon-girl:before {
  content: "\e92d";
}
.icon-heartbeat:before {
  content: "\e92e";
}
.icon-heartbeat2:before {
  content: "\e92f";
}
.icon-hospitalization:before {
  content: "\e930";
}
.icon-hotel:before {
  content: "\e931";
  color: #fff;
}
.icon-hotel-bell:before {
  content: "\e932";
}
.icon-hotel-with-three-floors:before {
  content: "\e933";
  color: #fff;
}
.icon-icon-1:before {
  content: "\e934";
  color: #fff;
}
.icon-icon-2:before {
  content: "\e935";
}
.icon-icon-3:before {
  content: "\e936";
}
.icon-icon-4:before {
  content: "\e937";
}
.icon-icon:before {
  content: "\e938";
}
.icon-info:before {
  content: "\e939";
  color: #fff;
}
.icon-instagram-logo:before {
  content: "\e93a";
  color: #fff;
}
.icon-internet .path1:before {
  content: "\e93b";
  color: rgb(0, 0, 0);
}
.icon-internet .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-internet .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-internet .path4:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-intestine:before {
  content: "\e93f";
}
.icon-key:before {
  content: "\e940";
  color: #fff;
}
.icon-left-arrow:before {
  content: "\e941";
}
.icon-list:before {
  content: "\e942";
}
.icon-mail-black-envelope-symbol:before {
  content: "\e943";
  color: #fff;
}
.icon-man-user:before {
  content: "\e944";
  color: #fff;
}
.icon-message:before {
  content: "\e945";
  color: #fff;
}
.icon-mountains:before {
  content: "\e946";
}
.icon-musica-searcher:before {
  content: "\e947";
  color: #fff;
}
.icon-notifications-button:before {
  content: "\e948";
}
.icon-old-typical-phone:before {
  content: "\e949";
}
.icon-park:before {
  content: "\e94a";
}
.icon-phone-receiver:before {
  content: "\e94b";
}
.icon-placeholder:before {
  content: "\e94c";
}
.icon-plane:before {
  content: "\e94d";
}
.icon-play-button:before {
  content: "\e94e";
}
.icon-property:before {
  content: "\e94f";
}
.icon-psychology:before {
  content: "\e950";
}
.icon-public-transport-subway:before {
  content: "\e951";
}
.icon-question-mark:before {
  content: "\e952";
  color: #fff;
}
.icon-rating:before {
  content: "\e953";
  color: #fff;
}
.icon-restaurant-1:before {
  content: "\e954";
}
.icon-restaurant:before {
  content: "\e955";
  color: #fff;
}
.icon-scissor-and-comb:before {
  content: "\e956";
}
.icon-shower:before {
  content: "\e957";
}
.icon-smartphone:before {
  content: "\e958";
  color: #fff;
}
.icon-snooker:before {
  content: "\e959";
}
.icon-spine:before {
  content: "\e95a";
}
.icon-standing-up-man:before {
  content: "\e95b";
}
.icon-star:before {
  content: "\e95c";
}
.icon-stethoscope:before {
  content: "\e95d";
}
.icon-stethoscope-outline-variant:before {
  content: "\e95e";
}
.icon-support:before {
  content: "\e95f";
  color: #fff;
}
.icon-swimming-silhouette:before {
  content: "\e960";
}
.icon-thyroid-gland:before {
  content: "\e961";
}
.icon-ticket:before {
  content: "\e962";
  color: #fff;
}
.icon-tree-1:before {
  content: "\e963";
}
.icon-tree:before {
  content: "\e964";
}
.icon-tv:before {
  content: "\e965";
}
.icon-user:before {
  content: "\e966";
}
.icon-user-md-symbol:before {
  content: "\e967";
}
.icon-users-group:before {
  content: "\e968";
}
.icon-video-camera:before {
  content: "\e969";
}
.icon-vk-social-logotype:before {
  content: "\e96a";
  color: #fff;
}
.icon-wallet:before {
  content: "\e96b";
}
.icon-wc-sign:before {
  content: "\e96c";
}
.icon-weightlifting:before {
  content: "\e96d";
}
.icon-whatsapp:before {
  content: "\e96e";
  color: #fff;
}
.icon-wifi-signal:before {
  content: "\e96f";
}
.icon-woman-with-headset:before {
  content: "\e970";
}
.icon-worldwide:before {
  content: "\e971";
}
