<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item"><a href="#">Лечение</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Акции</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>