<div class="callback">
    <div class="row">
        <div class="col-md-14 pr-md-3 flex flex-column align-items-center text-center">
            <div class="callback-icon"></div>
            <div class="h1 mb-4">Заявка на звонок</div>
            <div class="h2"><span>Мы сами свяжемся с вами и подберем <br>
                                для вас </span> подходящую программу лечения
            </div>
        </div>
        <div class="col-md-10">
            <form action="#" class="question-form">
                <div class="cost-form__item error">
                    <label for="name2" class="cost-form__item-label">Ваше имя:
                        <span class="red-star">*</span>
                    </label>
                    <input type="text" placeholder="Имя" id="name2" class="cost-form__item-name">
                    <div class="errorMessage">Обязательное поле "Имя" не заполнено</div>
                </div>
                <div class="cost-form__item">
                    <label for="phone" class="cost-form__item-label">Ваш телефон:
                        <span class="red-star">*</span>
                    </label>
                    <input type="tel" placeholder="+7 (___) - ___-__-__" id="phone" class="cost-form__item-name phone"
                           pattern="\d*">
                </div>
                <div class="btn btn-green cost-form__line-submit">
                    Отправить вопрос
                    <input type="submit" class="" value="">
                </div>
                <div class="cost-form__line-check-item mt-4 text-gray justify-content-center">
                    <div class="cost-form__check-item">
                        <input type="checkbox" class="check" id="target-8" checked>
                        <span class="check-before"></span>
                    </div>
                    <label for="target-8">Я даю согласие на обработку <br> моих персональных данных.</label>
                </div>
            </form>
        </div>
    </div>
</div>
