<form action="#" class="cost-form">
    <div class="cost-form__line">
        <div class="cost-form__item error">
            <label for="name" class="cost-form__item-label">Ваше имя:
            <span class="red-star">*</span>
            </label>
            <input type="text" placeholder="Имя" id="name" class="cost-form__item-name">
            <div class="errorMessage">Поле Имя не заполнено</div>
        </div>
        <div class="cost-form__item">
            <label for="phone" class="cost-form__item-label">Введите номер:
                <span class="red-star">*</span>
            </label>
            <input type="tel" placeholder="+7 (___) - ___-__-__" id="phone" class="cost-form__item-name phone" pattern="\d*">
        </div>
        <div class="cost-form__item">
            <label for="email" class="cost-form__item-label">Ваш email:</label>
            <input type="email" placeholder="Почта" id="email" class="cost-form__item-name">
        </div>
    </div>
    <div class="cost-form__line-number">
        <div class="cost-form__line-column">
            <div class="cost-form__item">
                <label for="adults" class="cost-form__item-label">Количество взрослых:</label>
                <div class="cost-form__num">
                    <span class="cost-form__num-sign cost-form__num-sign-minus">-</span>
                    <input type="number" placeholder="1" id="adults" class="cost-form__input-num cost-form__input-num-1">
                    <span class="cost-form__num-sign cost-form__num-sign-plus">+</span>
                </div>
            </div>
            <div class="cost-form__item">
                <label for="date" class="cost-form__item-label">Дата заезда:</label>
                <div id="date-container">
                    <input type="text" placeholder="01 / 01 / 2019" id="date" class="cost-form__item-name">
                </div>
            </div>
        </div>
        <div class="cost-form__line-column">
            <div class="cost-form__item">
                <label for="children" class="cost-form__item-label">Кол-во детей от 4 лет:</label>
                <div class="cost-form__num">
                    <span class="cost-form__num-sign cost-form__num-sign-minus">-</span>
                    <input type="number" placeholder="0" id="children" class="cost-form__input-num">
                    <span class="cost-form__num-sign cost-form__num-sign-plus">+</span>
                </div>
            </div>
            <div class="cost-form__item">
                <label for="day" class="cost-form__item-label">Количество дней отдыха:</label>
                <div class="cost-form__num">
                    <span class="cost-form__num-sign cost-form__num-sign-minus">-</span>
                    <input type="number" placeholder="1" id="day" class="cost-form__input-num cost-form__input-num-1">
                    <span class="cost-form__num-sign cost-form__num-sign-plus">+</span>
                </div>
            </div>
        </div>
        <div class="cost-form__line-column">
            <div class="cost-form__item">
                <label for="message" class="cost-form__item-label">Ваше сообщение:</label>
                <textarea id="message" class="cost-form__textarea" placeholder="Комментарий"></textarea>
            </div>
        </div>
    </div>
    <div class="h2">
        Цель визита:
    </div>
    <div class="cost-form__line-check">
        <div class="cost-form__line-check-column">
            <div class="cost-form__line-check-item">
                <div class="cost-form__check-item">
                    <input type="checkbox" class="check" id="target-1">
                    <span class="check-before"></span>
                </div>
                <label for="target-1">Лечение заболеваний сердца и сосудов</label>
            </div>
            <div class="cost-form__line-check-item">
                <div class="cost-form__check-item">
                    <input type="checkbox" class="check" id="target-2">
                    <span class="check-before"></span>
                </div>
                <label for="target-2">Лечение в спинальном отделении</label>
            </div>
            <div class="cost-form__line-check-item">
                <div class="cost-form__check-item">
                    <input type="checkbox" class="check" id="target-3">
                    <span class="check-before"></span>
                </div>
                <label for="target-3">Лечение в общей терапии (по профилям: ЖКТ, костно-мышечная
                    система, щитовидная железа, геникология или урология)</label>
            </div>
        </div>
        <div class="cost-form__line-check-column">
            <div class="cost-form__line-check-item">
                <div class="cost-form__check-item">
                    <input type="checkbox" class="check" id="target-4">
                    <span class="check-before"></span>
                </div>
                <label for="target-4">Диагностика организма</label>
            </div>
            <div class="cost-form__line-check-item">
                <div class="cost-form__check-item">
                    <input type="checkbox" class="check" id="target-5">
                    <span class="check-before"></span>
                </div>
                <label for="target-5">Очищение организма</label>
            </div>
            <div class="cost-form__line-check-item">
                <div class="cost-form__check-item">
                    <input type="checkbox" class="check" id="target-6">
                    <span class="check-before"></span>
                </div>
                <label for="target-6">Оздоровление и снятие стресса</label>
            </div>
        </div>
    </div>
    <div class="cost-form__line-click">
        <div class="btn btn-green cost-form__line-submit">
            Отправить
            <input type="submit" class="" value="">
        </div>
        <div class="cost-form__line-check-item mt-4 text-gray justify-content-center">
            <div class="cost-form__check-item">
                <input type="checkbox" class="check" id="target-7" checked>
                <span class="check-before"></span>
            </div>
            <label for="target-7">Я даю согласие на обработку <br> моих персональных данных.</label>
        </div>
    </div>
</form>