<div class="entertainment-items">
    <a href="#" class="entertainment-item" data-toggle="modal" data-target="#entertainment-item__1">
        <span class="entertainment-icon icon-cocktail-with-lemon-slice"></span>
        <span class="entertainment-title">Бар</span>
    </a>
    <a href="#" class="entertainment-item">
        <span class="entertainment-icon icon-video-camera"></span>
        <span class="entertainment-title">Кинозал</span>
    </a>
    <a href="#" class="entertainment-item">
        <span class="entertainment-icon icon-dancer-with-music"></span>
        <span class="entertainment-title">Танцевальный <br> зал</span>
    </a>
    <a href="#" class="entertainment-item">
        <span class="entertainment-icon icon-book"></span>
        <span class="entertainment-title">Библиотека</span>
    </a>
    <a href="#" class="entertainment-item">
        <span class="entertainment-icon icon-snooker"></span>
        <span class="entertainment-title">Бильярдная</span>
    </a>
    <a href="#" class="entertainment-item">
        <span class="entertainment-icon icon-weightlifting"></span>
        <span class="entertainment-title">Тренажерный <br> зал</span>
    </a>
    <a href="#" class="entertainment-item">
        <span class="entertainment-icon icon-tree"></span>
        <span class="entertainment-title">Территория <br> для прогулок</span>
    </a>
    <a href="#" class="entertainment-item">
        <span class="entertainment-icon icon-scissor-and-comb"></span>
        <span class="entertainment-title">Косметический <br> салон <br> и парикмахерская</span>
    </a>
    <a href="#" class="entertainment-item">
        <span class="entertainment-icon icon-mountains"></span>
        <span class="entertainment-title">Экскурсии</span>
    </a>
</div>