<footer>
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 flex-column flex align-items-center text-center text-md-left align-items-md-start">
                    <a href="#" class="footer-logo">
                        <img src="images/logo-footer.png" alt="">
                    </a>
                    <div class="footer-site">
                        Официальный сайт <br> санатория г. Пятигорск
                    </div>
                    <div class="footer-warning">
                        Имеются противопоказания <br> Необходима консультация <br> специалиста
                    </div>
                    <div class="footer-content">
                        Официальным сайтом ЛПУП «Центр <br> восстановительной медицины – Санаторий «Лесная <br> Поляна»
                        является только сайт
                        <br>
                        www.lespol.ru Администрация ЛПУП <br>
                        не несет ответственности за достоверность и <br> своевременность обновления информации на <br>
                        любых других сайтах
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-md-0 col-md-12 pt-md-4 flex-column flex align-items-center text-center text-md-left align-items-md-start">
                    <nav class="footer-menu">
                        <ul class="footer-menu__items">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link footer-menu__link-title">Лечение</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Лечение сердца</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Лечение сосудов головного мозга</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Спинальное отделение</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Реабилитация детей с ДЦП</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Общетерапевтическое отделение</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Медицинские услуги</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Противопоказания</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="footer-menu">
                        <ul class="footer-menu__items">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link footer-menu__link-title">Питание</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="footer-menu">
                        <ul class="footer-menu__items">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link footer-menu__link-title">Проживание</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Корпус кардиотерапии</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Корпус спинального отделения</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Общетерапевтическое отделение</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5 col-md-12 pt-md-4 flex-column flex align-items-center text-center text-md-left align-items-md-start">
                    <nav class="footer-menu">
                        <ul class="footer-menu__items">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link footer-menu__link-title">Цены</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Программы лечения</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Платные медицинские услуги</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="footer-menu">
                        <ul class="footer-menu__items">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link footer-menu__link-title">Санаторий</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Лицензии и сертификаты</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Награды</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Контролирующие органы</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Вакансии</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="footer-menu">
                        <ul class="footer-menu__items">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link footer-menu__link-title">Досуг</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Досуг в санатории</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">О Пятигорске</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="footer-menu">
                        <ul class="footer-menu__items">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link footer-menu__link-title">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5 col-md-12 pt-md-4 flex-column flex align-items-center text-center text-md-left align-items-md-start">
                    <a href="tel:88007005673" class="footer-phone">
                        8 800 700-56-73
                    </a>
                    <div class="footer-phone__russia">бесплатно по России</div>
                    <a href="tel:+78793405673" class="footer-phone__mobile">+7 (8793) 40-56-73</a>
                    <a href="https://api.whatsapp.com/send?phone=79064627410" class="footer-phone__whatsapp">+7 (906)
                        462-74-10</a>
                    <a href="mailto:tenderlespol@profkurort.ru" class="footer-email">tenderlespol@profkurort.ru</a>
                    <a href="#" class="header-btn header-btn__callback" data-toggle="modal" data-target="#callback">
                        Заявка на звонок
                    </a>
                    <a href="#" class="header-btn header-btn__order">
                        Заказать путевку
                    </a>
                    <a href="#" class="header-top__link header-top__link-booking">
                        Онлайн-бронь
                    </a>
                    <a href="#" class="header-top__link header-top__link-reviews">
                        Отзывы
                    </a>
                    <a href="#" class="header-top__link header-top__link-question">
                        Вопрос-ответ
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="arrow-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 flex-column flex align-items-center text-center text-md-left align-items-md-start">
                    <div class="footer-copy">© Санаторий «Лесная Поляна», 2018</div>
                </div>
                <div class="col-lg-6 col-md-12 flex-column flex align-items-center text-center text-md-left align-items-md-start">
                    <a href="#" class="footer-confidentiality">Политика конфиденциальности</a>
                </div>
                <div class="col-lg-6 col-md-12 flex-column flex align-items-center text-center text-md-left align-items-md-start">
                    <a href="#" class="footer-agreement">Пользовательское соглашение</a>
                </div>
                <div class="col-lg-5 col-md-12 flex-column flex align-items-center text-center text-md-left align-items-md-start">
                    <div class="development">
                        Разработка сайта <a href="#">WEBELEMENT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="arrow-top__desktop">

</div>
<div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="icon-icon-3"></span>
            </button>
            <form action="#" class="question-form">
                <div class="h1 question-form__title">

                    Заявка на звонок

                </div>
                <div class="modal-info">
                    Мы сами свяжемся с вами и подберем для вас подходящую программу лечения
                </div>
                <div class="modal-form">
                    <div class="cost-form__item">
                        <label for="name3" class="cost-form__item-label">Ваше имя:</label>
                        <input type="text" placeholder="Имя" id="name3" class="cost-form__item-name">
                    </div>
                    <div class="cost-form__item">
                        <label for="phone3" class="cost-form__item-label">Введите ваш телефон:</label>
                        <input type="tel" placeholder="+7 (___) - ___-__-__" id="phone3"
                               class="cost-form__item-name phone">
                    </div>
                    <div class="btn btn-green cost-form__line-submit">
                        Отправить
                        <input type="submit" class="" value="">
                    </div>
                    <div class="cost-form__line-check-item mt-4 text-gray justify-content-center">
                        <div class="cost-form__check-item">
                            <input type="checkbox" class="check" id="target-88" checked>
                            <span class="check-before"></span>
                        </div>
                        <label for="target-88">Я даю согласие на обработку <br> моих персональных данных.</label>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal fade tours-modal" id="entertainment-item__1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="icon-icon-3"></span>
            </button>
            <div class="h1">
                Экскурсии
            </div>
            <p>
                Для любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату организует
                поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников культуры, связанных с
                именами выдающихся людей. Вас ждут незабываемые экскурсии по горным ущельям, к подножью снежного
                Эльбруса, в Теберду и Домбай.
            </p>
            <div class="slider-modal">
                <img src="images/slider-modal.jpg" alt="">
                <img src="images/slider-modal.jpg" alt="">
                <img src="images/slider-modal.jpg" alt="">
                <img src="images/slider-modal.jpg" alt="">
            </div>
        </div>
    </div>
</div>