<h4>H4
    <span>любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату организует поездки по городам-курортам <br>
        Кавказских Минеральных Вод с посещением памятников культуры, связанных с именами выдающихся людей. Вас ждут незабываемые <br>
        экскурсии по горным ущельям, к подножью снежного Эльбруса, в Теберду и Домбай.</span>
</h4>