<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-sm-down flex align-items-center">
                    <a href="#" class="header-top__link header-top__link-reviews">
                        Отзывы
                    </a>
                    <a href="#" class="header-top__link header-top__link-question">
                        Вопрос-ответ
                    </a>
                    <a href="#" class="header-top__link header-top__link-booking">
                        Онлайн-бронь
                    </a>
                </div>
                <div class="col-md-12 flex justify-content-md-end justify-content-center align-items-center">
                    <div class="header-phone__container">
                        <a href="#" class="header-phone">
                            8 800 700-56-73
                        </a>
                        <span>
                        бесплатно по России
                    </span>
                    </div>
                    <div class="header-slogan header-slogan__mobile">Официальный сайт санатория г. Пятигорск</div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-container">
        <div class="container">
            <div class="row align-items-lg-end align-items-center">
                <div class="col-md-4 col-sm-5 col-10">
                    <a href="#" class="header-logo__link">
                        <img src="images/logo.png" alt="logo" class="header-logo__pic">
                    </a>
                </div>
                <div class="col-md-20 col-sm-19 col-14">
                    <div class="header-container__top">
                        <div class="mobile-phone">
                            <a href="#" class="header-phone">
                                8 800 700-56-73
                            </a>
                            <span>
                                 бесплатно по России
                            </span>
                        </div>
                        <div class="header-slogan">Официальный сайт санатория г. Пятигорск</div>
                        <div class="header-container__btn">
                            <a href="#" class="header-btn header-btn__order">
                                Заказать путевку
                            </a>
                            <a href="#" class="header-btn header-btn__callback" data-toggle="modal"
                               data-target="#callback">
                                Заявка на звонок
                            </a>
                        </div>
                        <div class="hamburger">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="header-menu__container">
                        <div class="header-btn__container-mobile">
                            <a href="#" class="header-btn header-btn__order">
                                Заказать путевку
                            </a>
                            <a href="#" class="header-btn header-btn__callback" data-toggle="modal"
                               data-target="#callback">
                                Заявка на звонок
                            </a>
                        </div>
                        <nav class="header-menu">
                            <ul class="header-menu__items">
                                <li class="header-menu__item header-menu__link-drop-down">
                                    <a href="#" class="header-menu__link"
                                       data-menu="menu-one">
                                        Лечение
                                    </a>
                                    <div class="header-submenu__container">
                                        <ul class="header-submenu">
                                            <li class="header-submenu__item">
                                                <a href="#" class="header-submenu__link">Показания и противопоказания</a>
                                            </li>
                                            <li class="header-submenu__item">
                                                <a href="#" class="header-submenu__link">Пункт 2 </a>
                                            </li>
                                            <li class="header-submenu__item">
                                                <a href="#" class="header-submenu__link">Пункт 3 </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="header-menu__item header-menu__link-drop-down">
                                    <a href="#" class="header-menu__link"
                                       data-menu="menu-two">
                                        программы лечения
                                    </a>
                                    <div class="header-submenu__container">
                                        <ul class="header-submenu">
                                            <li class="header-submenu__item">
                                                <a href="#" class="header-submenu__link">Лечение</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="header-menu__item">
                                    <a href="#" class="header-menu__link header-menu__link-drop-down">
                                        размещение
                                    </a>
                                </li>
                                <li class="header-menu__item">
                                    <a href="#" class="header-menu__link">
                                        питание
                                    </a>
                                </li>
                                <li class="header-menu__item">
                                    <a href="#" class="header-menu__link">
                                        досуг
                                    </a>
                                </li>
                                <li class="header-menu__item">
                                    <a href="#" class="header-menu__link header-menu__link-drop-down">
                                        О санатории
                                    </a>
                                </li>
                                <li class="header-menu__item">
                                    <a href="#" class="header-menu__link">
                                        Цены
                                    </a>
                                </li>
                                <li class="header-menu__item">
                                    <a href="#" class="header-menu__link">
                                        Контакты
                                    </a>
                                </li>
                                <li class="header-menu__item">
                                    <a href="#" class="header-menu__link">
                                        акции
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="header-elements__mobile">
                            <a href="#" class="header-top__link header-top__link-reviews">
                                Отзывы
                            </a>
                            <a href="#" class="header-top__link header-top__link-question">
                                Вопрос-ответ
                            </a>
                            <a href="#" class="header-top__link header-top__link-booking">
                                Онлайн-бронь
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>