<div class="container">
    <div class="row">
        <div class="col-24">
            <div class="h1"><span>Вам будет </span>интересно:</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <a href="#" class="interesting-item">
                <div class="interesting-item__icon icon-doctor-2"></div>
                <div class="interesting-item__title">Медицинские услуги санатория</div>
            </a>
        </div>
        <div class="col-md-8">
            <a href="#" class="interesting-item">
                <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                <div class="interesting-item__title">Медицинская база санатория</div>
            </a>
        </div>
        <div class="col-md-8">
            <a href="#" class="interesting-item">
                <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                <div class="interesting-item__title">Медицинская база санатория</div>
            </a>
        </div>
    </div>
</div>