<div class="row">

    <div class="col-lg-15">
        <h1>Вопрос<span>-ответ</span></h1>
        <div id="accordion-2">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <div class="collapse-link" data-toggle="collapse"
                         data-target="#collapseThree"
                         aria-controls="collapseThree">
                        <div class="h3"><span>Что необходимо иметь</span> при себе при заезде <span>в санаторий?</span>
                        </div>
                    </div>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                     data-parent="#accordion-2">
                    <div class="card-body card-body__content">
                        <b class="text-blue">При заезде в санаторий при себе необходимо иметь следующие
                            документы:</b>
                        <ul class="mt-3">
                            <li>Паспорт,</li>
                            <li>Путевку, доверенность, ваучер,</li>
                            <li>Санaтоpно-курортную карту (давность не более 2—х месяцев),</li>
                            <li>Справка-обследование на энтеробиоз (давность не более 10 дней) для посещения
                                бассейна,
                            </li>
                            <li>Страховой полис обязательного медицинского страхования.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4">
                    <div class="collapse-link collapsed" data-toggle="collapse"
                         data-target="#collapse4"
                         aria-controls="collapse4">
                        <div class="h3"><span>Что входит в </span>стоимость путевки?
                        </div>
                    </div>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4"
                     data-parent="#accordion-2">
                    <div class="card-body card-body__content">
                        <b class="text-blue">Рабный текст</b>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading5">
                    <div class="collapse-link collapsed" data-toggle="collapse"
                         data-target="#collapse5"
                         aria-controls="collapse5">
                        <div class="h3"><span>Можно ли отдохнуть в санатории </span>без лечения?
                        </div>
                    </div>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5"
                     data-parent="#accordion-2">
                    <div class="card-body card-body__content">
                        <b class="text-blue">Рабный текст</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 mt-4 mt-lg-0">
        <form action="#" class="question-form">
            <div class="h1 question-form__title">
                <div class="question-form__icon__container">
                    <div class="question-form__icon">

                    </div>
                </div>

                <div>
                    У вас есть вопрос?
                </div>
            </div>
            <div class="cost-form__item">
                <label for="name2" class="cost-form__item-label">Ваше имя:</label>
                <input type="text" placeholder="Имя" id="name2" class="cost-form__item-name">
            </div>
            <div class="cost-form__item">
                <label for="phone" class="cost-form__item-label">Ваш телефон:</label>
                <input type="tel" placeholder="+7 (___) - ___-__-__" id="phone" class="cost-form__item-name phone"
                       pattern="\d*">
            </div>
            <div class="cost-form__item">
                <label for="message2" class="cost-form__item-label">Ваше сообщение:</label>
                <textarea id="message2" class="cost-form__textarea cost-form__textarea-right"
                          placeholder="Комментарий"></textarea>
            </div>
            <div class="btn btn-green cost-form__line-submit">
                Отправить вопрос
                <input type="submit" class="" value="">
            </div>
            <div class="cost-form__line-check-item mt-4 text-gray justify-content-center">
                <div class="cost-form__check-item">
                    <input type="checkbox" class="check" id="target-8" checked>
                    <span class="check-before"></span>
                </div>
                <label for="target-8">Я даю согласие на обработку <br> моих персональных данных.</label>
            </div>
        </form>
    </div>
</div>