<div class="col-lg-12">
    <a href="#" class="program-item">
                    <span class="program-item__top">
                        <span class="program-item__day">
                            <span class="program-item__day-number">12</span>
                            <span class="program-item__day-text">дней</span>
                        </span>
                        <span class="program-item__title">"Сердечно-сосудистые  заболевания"</span>
                    </span>
        <span class="btn program-item__btn">Подробнее</span>
        <span class="program-item__price">от 3 550 <br> ₽/сутки</span>
    </a>
</div>