<div class="link-items">
    <ul class="link-items__green">
        <li class="link-items__title">
            <a href="#">Профили лечения</a>
        </li>
        <li class="link-items__title">
            <a href="#">Медицинские услуги</a>
        </li>
        <li class="link-items__title">
            <a href="#">Программы лечения</a>
        </li>
        <li class="link-items__title active">
            <a href="#">Медицинская база</a>
            <ul class="link-items__green-submenu">
                <li>
                    <a href="#">Подпункт 1</a>
                </li>
                <li>
                    <a href="#">Подпункт 2</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
