@@include('../layout/bread.html')
<div class="leisure-container">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-10 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24 mb-lg-5 mb-4">
                <h1>Досуг <span>санатория Лесная Поляна</span></h1>
                <div class="leisure-item" style="background-image: url(images/leisure-4.jpg)">
                    <div class="h2 mb-4">Кардиологическое отделение</div>
                    <div class="leisure-item__content">В данном корпусе отдыхают гости приобретающие путевки
                        кардиологического профиля: лечение заболеваний сердца
                        и сосудов головного мозга. Номера оснащены специальной кнопкой экстренного вызова
                        мед.персонала. Быстрый переход
                        в лечебный корпус внутри здания.
                    </div>
                    <a href="#" class="btn btn-green leisure-item__link">Подробнее</a>
                    <div class="leisure-icon">
                        <span class="icon-heartbeat2"></span>
                    </div>
                </div>
                <div class="leisure-item" style="background-image: url(images/leisure-5.jpg)">
                    <div class="h2 mb-4">Общетерапевтическое - отделение медицинской реабилитации</div>
                    <div class="leisure-item__content">В данном корпусе отдыхают гости приобретающие путевки общего
                        оздоровительного профиля: лечение заболеваний ЖКТ, костно-мышечной системы, щитовидной
                        железы, женских и мужских заболеваний. Номера расчитаны на односетное и двух местное
                        размещение. Быстрый переход в лечебный корпус внутри здания.
                    </div>
                    <a href="#" class="btn btn-green leisure-item__link">Подробнее</a>
                    <div class="leisure-icon">
                        <span class="icon-doctor-2"></span>
                    </div>
                </div>
                <div class="leisure-item" style="background-image: url(images/leisure-6.jpg)">
                    <div class="h2 mb-4">Спинальное отделение</div>
                    <div class="leisure-item__content">В данном корпусе отдыхают гости приобретающие путевки по :
                        лечение заболеваний ЖКТ, костно-мышечной системы, щитовидной железы, женских и мужских
                        заболеваний. Номера расчитаны на односетное и двух местное размещение.
                        Быстрый переход в лечебный корпус внутри здания.
                    </div>
                    <a href="#" class="btn btn-green leisure-item__link">Подробнее</a>
                    <div class="leisure-icon">
                        <span class="icon-spine"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('../layout/interesting.html')
</div>
<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>