@@include('../layout/bread.html')
<div class="container">
    <div class="row">
        <div class="col-24">
            <h1>Заказать <span>просчет стоимости лечения</span></h1>
        </div>
    </div>
</div>
<div class="booking container-white">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-10 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="circle-11 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/cost-form.html')
            </div>
        </div>
    </div>
</div>