@@include('../layout/bread.html')
<div class="cardiology-container">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-10 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container mb-50">
        <div class="row">
            <div class="col-24">
                <h1 class="mt-3 mb-4">Номерной фонд кардиологического отделения</h1>
                <div class="number-items">
                    <span class="number-item__default">
                        <span> Одноместный 2К</span>
                    </span>
                    <div class="number-items__container-hid">
                        <ul class="number-items number-items__slider number-items__container" id="number-tab">
                            <li class="nav-item">
                                <a href="#number-item-1" class="number-item active" id="number-item-1-tab"
                                   data-toggle="pill">
                                    Одноместный 2К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-2" class="number-item" id="number-item-2-tab"
                                   data-toggle="pill">
                                    Двухместный 2К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-3" class="number-item" id="number-item-3-tab"
                                   data-toggle="pill">
                                    Одноместный 1К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-4" class="number-item" id="number-item-4-tab"
                                   data-toggle="pill">
                                    Двухместный 1К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-5" class="number-item" id="number-item-5-tab"
                                   data-toggle="pill">
                                    Двухместный двухкомнатный 1К
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="number-tabContent">
                    <div class="row tab-pane fade show active" id="number-item-1">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2 class="mt-0 mb-3">Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-2">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-3">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2 class="mt-0 mb-3">Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-4">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-5">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-24 mt-4">
                        <h2>В номере:</h2>
                        <div class="facilities-items">
                            <div class="facilities-item">
                                <div class="facilities-item__icon icon-shower"></div>
                                <div class="facilities-item__title">Душ, туалет</div>
                            </div>
                            <div class="facilities-item">
                                <div class="facilities-item__icon icon-air-conditioner"></div>
                                <div class="facilities-item__title">Кондиционер</div>
                            </div>
                            <div class="facilities-item">
                                <div class="facilities-item__icon icon-fridge"></div>
                                <div class="facilities-item__title">Холодильник</div>
                            </div>
                            <div class="facilities-item">
                                <div class="facilities-item__icon icon-balcony"></div>
                                <div class="facilities-item__title">Балкон</div>
                            </div>
                            <div class="facilities-item">
                                <div class="facilities-item__icon icon-tv"></div>
                                <div class="facilities-item__title">Телевизор</div>
                            </div>
                            <div class="facilities-item">
                                <div class="facilities-item__icon icon-old-typical-phone"></div>
                                <div class="facilities-item__title">Экстренный вызов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-24">
                        <p>Небольшой текст описание номера, чем он еще оснащен, какой вид ,к акой сервис, как часто его
                            убирают Небольшой текст описание номера, чем он еще оснащен, какой вид ,к акой сервис, как
                            часто его убирают Небольшой текст описание номера, чем он еще оснащен, какой вид ,к акой
                            сервис, как часто его убирают Небольшой текст описание номера, чем он еще оснащен, какой вид
                            ,к акой сервис, как часто его убирают</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('../layout/interesting.html')
</div>

<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>