@@include('../layout/bread.html')
<div class="contact-container">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <h1>Контакты</h1>
            </div>
        </div>
    </div>
    <div class="contact-marketing container-white">
        <div class="circle-5 circle">
            <img src="images/ellipse-5.png" alt="">
        </div>
        <div class="circle-13 circle">
            <img src="images/ellipse-4.png" alt="">
        </div>
        <div class="circle-14 circle">
            <img src="images/ellipse-2.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="h1 marketing-title mb-4">Отдел маркетинга и продаж</div>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-lg-14">
                    <div class="contact-options">
                        <div class="contact-line contact-phone">
                            <a href="tel:78793405673">+7 (8793) 40-56-73</a>
                        </div>
                        <div class="contact-line contact-phone">
                            <a href="tel:78793974401"> +7 (8793) 97-44-01 </a> (факс)
                        </div>
                        <div class="contact-line contact-time">
                            Пн-Пт с 8:00 до 16:30
                        </div>
                        <div class="contact-line contact-email">
                            <a href="mailto:tenderlespol@profkurort.ru">tenderlespol@profkurort.ru</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 text-center">
                    <a href="#" class="btn btn-green">Заказать путевку через сайт</a>
                    <div class="contact-gray mt-2">
                        Если вам не удалось до нас дозвониться, <br>
                        то вы можете заполнить заявку <br>
                        на бронирование и мы перезвоним вам!
                    </div>
                </div>
            </div>
            <div class="row mt-lg-5 mt-30">
                <form action="#" class="question-form question-form__contact">
                    <div class="row">
                        <div class="col-24">
                            <div class="h1 question-form__title">
                                <div class="question-form__icon__container">
                                    <div class="question-form__icon"></div>
                                </div>
                                <span class="pr-2">У вас есть </span> вопрос?
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="cost-form__item">
                                <label for="name2" class="cost-form__item-label">Ваше имя:</label>
                                <input type="text" placeholder="Имя" id="name2" class="cost-form__item-name">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="cost-form__item">
                                <label for="phone" class="cost-form__item-label">Введите номер:</label>
                                <input type="tel" placeholder="+7 (___) - ___-__-__" id="phone"
                                       class="cost-form__item-name phone">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="cost-form__item">
                                <label for="email2" class="cost-form__item-label">Ваш email:</label>
                                <input type="email" placeholder="Почта" id="email2" class="cost-form__item-name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-16">
                            <div class="cost-form__item">
                                <label for="message2" class="cost-form__item-label">Ваше сообщение:</label>
                                <textarea id="message2" class="cost-form__textarea cost-form__textarea-right"
                                          placeholder="Комментарий"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-8 pt-lg-5">
                            <div class="btn btn-green cost-form__line-submit">
                                Отправить
                                <input type="submit" class="" value="">
                            </div>
                            <div class="cost-form__line-check-item mt-4 text-gray justify-content-center">
                                <div class="cost-form__check-item">
                                    <input type="checkbox" class="check" id="target-8" checked>
                                    <span class="check-before"></span>
                                </div>
                                <label for="target-8">Я даю согласие на обработку <br> моих персональных данных.</label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="road-container container-white">
        <div class="circle-3 circle">
            <img src="images/ellipse-3.png" alt="">
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-24">
                    <div class="h1"><span>Как к нам </span>добраться?</div>
                </div>
                <div class="col-lg-10">
                    <ul class="way">
                        <li class="way-title way-aircraft">
                            На самолете
                        </li>
                        <li>
                            Путь следования из аэропорта «Минеральные Воды»:
                        </li>
                        <li>
                            Маршрутным такси до ж/д вокзала «Минеральные Воды»,
                            далее электропоездомдо станции «Лермонтовская».
                            <a href="#" class="text-green"><b>Расписание электричек</b></a>
                        </li>
                        <li> Или автобусом № 223 до ж/д вокзала г. Пятигорска, далее
                            от привокзальной площади г. Пятигорска – трамваем № 2
                            до остановки «станция «Лермонтовская» (конечная).
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10">
                    <ul class="way">
                        <li class="way-title way-train">
                            На поезде
                        </li>
                        <li>
                            Поездом до ЖД вокзала г. Пятигорска, от привокзальной
                            площади г. Пятигорска – трамваем № 2 до остановки «станция
                            «Лермонтовская» (конечная).
                        </li>
                    </ul>
                    <ul class="way">
                        <li class="way-title way-transfer">
                            Трансфер
                        </li>
                        <li>
                            Услуги трансфера оказываются в будние дни только
                            при групповых заездах по путевкам на основании заявки.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="map-container container-white">
        <div class="map-container__info">
            <div class="container">
                <div class="row">
                    <div class="col-24 flex justify-content-end">
                        <div class="container-map__info">
                            <div class="h2 mt-0 mb-2">Адрес:</div>
                            <p>Россия, Ставропольский край,
                                Пятигорск, Лермонтовский разъезд</p>
                            <div class="h2 mt-3 mb-2">Email:</div>
                            <a class="map-email" href="mailto:tenderlespol@profkurort.ru">tenderlespol@profkurort.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="map">

        </div>
    </div>
    <div class="schedule-container container-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-10 flex justify-content-lg-start justify-content-center mb-4 mb-lg-0 text-center text-lg-left">
                    <div class="h1"><span>Воспользуйтесь <br> услугами</span> <br> Яндекс.Расписания</div>
                </div>
                <div class="col-lg-14 flex justify-content-lg-end justify-content-center">
                    <img src="images/schedule.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="contact-marketing container-white">
        <div class="circle-13 circle">
            <img src="images/ellipse-4.png" alt="">
        </div>
        <div class="circle-11 circle">
            <img src="images/ellipse-6.png" alt="">
        </div>
        <div class="circle-15 circle">
            <img src="images/ellipse-9.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="h1 marketing-title mb-4">Платные <span>медицинские услуги</span></div>
                    <div class="contact-options">
                        <div class="contact-line contact-phone">
                            <a href="tel:78793405672">+7 (8793) 40-56-72 </a> доб.31-017
                        </div>
                        <div class="contact-line contact-time">
                            Пн-Пт с 8:00 до 16:30
                        </div>
                    </div>
                    <div class="h1 marketing-title mb-lg-4 mb-2 mt-lg-5 mt-4">Служба приема</div>
                    <div class="contact-options">
                        <div class="contact-line contact-phone">
                            <a href="tel:78793974395">+7 (8793) 97-43-95</a>
                        </div>
                        <div class="contact-line contact-time">
                            круглосуточный
                        </div>
                    </div>
                    <div class="h1 marketing-title mb-lg-4 mb-2 mt-lg-5 mt-4">Директор-главный врач
                        <span>«Приемная»</span></div>
                    <div class="contact-options">
                        <div class="contact-line contact-phone">
                            <a href="tel:78793405672">+7 (8793) 40-56-72</a>
                        </div>
                        <div class="contact-line contact-phone">
                            <a href="tel:78793974394">+7 (8793) 97-43-94 </a>(факс)
                        </div>
                        <div class="contact-line contact-time">
                            Пн-Пт с 8:00 до 16:30
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-warning container-white">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="warning-info h3">
                        <span>Не забудьте оформить </span> санаторно-курортную карту
                        <span> у вашего лечащего врача</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4__none"></div>
</div>