<div class="slider-container">
    <div class="slider-big">
        <div class="slider-big__item" style="background-image: url('images/slider-big.jpg')">
            <div class="container">
                <div class="row justify-content-lg-end justify-content-md-center">
                    <div class="col-lg-10 col-md-18">
                        <div class="h1">
                            Кардиодиагностика <span> за 5 дней </span> 16 150₽
                        </div>
                        <div class="slider-services__items">
                            <div class="slider-services__item">
                                <span class="icon-hospitalization"></span>
                                проживание
                            </div>
                            <div class="slider-services__item">
                                <span class="icon-dinner"></span> 3-х разовое питание
                            </div>
                        </div>
                        <a href="#" class="btn btn-green slider-btn">Подробнее о программе</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-big__item" style="background-image: url('images/slider-big.jpg')">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-10">
                        <div class="h1">
                            Кардиодиагностика <span> за 5 дней </span> 16 150₽
                        </div>
                        <div class="slider-services__items">
                            <div class="slider-services__item">
                                <span class="icon-hospitalization"></span>
                                проживание
                            </div>
                            <div class="slider-services__item">
                                <span class="icon-dinner"></span> 3-х разовое питание
                            </div>
                            <a href="#" class="btn btn-green slider-btn">Подробнее о программе</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom-slider"></div>
</div>

<div class="step-container">
    <div class="circle-1 circle">
        <img src="images/ellipse-1.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1 mb-0">Лечение <span>в санатории Лесная поляна</span></div>
                <div class="h2 mt-sm-2"><span>В санатории функционируют</span> 4 медицинских отделения:</div>
                <div class="step-items">
                    <div class="step-item">
                        <div class="step-item__number">
                            <span>1</span>
                        </div>
                        <div class="step-item__content">
                            Отделение для больных <br>
                            с заболеваниями <b> центральной <br>
                            и периферической нервной <br>
                            системы. </b>
                        </div>
                    </div>
                    <div class="step-item">
                        <div class="step-item__number">
                            <span>2</span>
                        </div>
                        <div class="step-item__content">
                            Отделение <b> сердечно- <br> сосудистых </b> заболеваний
                        </div>
                    </div>
                    <div class="step-item">
                        <div class="step-item__number">
                            <span>3</span>
                        </div>
                        <div class="step-item__content">
                            Отделение восстановительного <br>
                            лечения принимает на лечение <br>
                            с заболеваниями <b> опорно- <br>
                            двигательного аппарата </b>
                        </div>
                    </div>
                    <div class="step-item">
                        <div class="step-item__number">
                            <span>4</span>
                        </div>
                        <div class="step-item__content">
                            <b> Лечебно-диагностическое</b> <br> отделение
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profiles-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1">Профили лечения</div>
                <div class="profiles-items">
                    <a href="#" class="profiles-item">
                        <span class="profiles-item__icon icon-cardiogram"></span>
                        <span class="profiles-item__title">Кардиологическое <br> отделение</span>
                    </a>
                    <div class="profile-circle"></div>
                    <a href="#" class="profiles-item">
                        <span class="profiles-item__icon icon-spine"></span>
                        <span class="profiles-item__title">Спинальное <br> отделение</span>
                    </a>
                    <div class="profile-circle"></div>
                    <a href="#" class="profiles-item">
                        <span class="profiles-item__icon icon-intestine"></span>
                        <span class="profiles-item__title">Лечение <br> ЖКТ</span>
                    </a>
                    <a href="#" class="profiles-item">
                        <span class="profiles-item__icon icon-brain"></span>
                        <span class="profiles-item__title">Лечение сосудов <br> головного мозга</span>
                    </a>
                    <div class="profile-circle"></div>
                    <a href="#" class="profiles-item">
                        <span class="profiles-item__icon icon-family-group"></span>
                        <span class="profiles-item__title">Реабилитация <br> детей с ДЦП</span>
                    </a>
                    <div class="profile-circle"></div>
                    <a href="#" class="profiles-item">
                        <span class="profiles-item__icon icon-girl"></span>
                        <span class="profiles-item__title">Женское <br> здоровье</span>
                    </a>
                    <a href="#" class="profiles-item">
                        <span class="profiles-item__icon icon-standing-up-man"></span>
                        <span class="profiles-item__title">Мужское <br> здоровье</span>
                    </a>
                    <a href="#" class="profiles-item">
                        <span class="profiles-item__icon icon-arm-muscles-silhouette"></span>
                        <span class="profiles-item__title">Лечение костно- <br> мышечной системы</span>
                    </a>
                    <a href="#" class="profiles-item">
                        <span class="profiles-item__icon icon-thyroid-gland"></span>
                        <span class="profiles-item__title">Лечение заболеваний <br> щитовидной железы</span>
                    </a>
                </div>
                <a href="#" class="profiles-link">Больше о лечении</a>
            </div>
        </div>
    </div>
</div>
<div class="info-index container-white">
    <div class="circle-4 circle">
        <img src="images/ellipse-4.png" alt="">
    </div>
    <div class="circle-5 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-14 pr-lg-4">
                <div class="h1">
                    Отдых и восстановление <br> <span>в санатории Лесная Поляна</span>
                </div>
                <p>
                    Лечебно-профилактическое учреждение профсоюзов «Центр восстановительной медицины – Санаторий «Лесная
                    поляна» - крупнейшая здравница Пятигорска. Комплекс санатория состоит из двух спальных корпусов,
                    лечебного корпуса и корпуса столовой с клубом, соединенных между собой крытыми теплыми переходами.
                </p>
                <p>
                    Санаторий имеет безбарьерную среду для свободного перемещения лиц,находящихся на лечении в
                    специализированном отделении
                    и передвигающихся с помощью инвалидной коляски и вспомогательных предметов.
                </p>
                <div class="col-lg-13"><a href="#" class="btn btn-green mt-lg-5 mt-3">Больше о санатории</a></div>
            </div>
            <div class="col-lg-10 mt-4 mt-lg-0 flex-column flex align-items-center align-items-lg-start">
                <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="fancy-video">
                    <img src="images/fancy.jpg" alt="">
                </a>
                <div class="info-index__place">
                   <span> Санаторий рассчитан на <b>480 мест круглый год.</b></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-24">
                <div class="info-items">
                    <div class="info-item">
                        <div class="info-item__icon icon-disabled"></div>
                        <div class="info-item__title"><b>Безбарьерная</b> <br>   среда</div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-doctor"></div>
                        <div class="info-item__title">Врачи высшей <br> категории <br> и <b>кандидаты наук</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-bowl-with-vegetables"></div>
                        <div class="info-item__title">Специальное <br> <b> диетическое <br> питание</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-swimming-silhouette"></div>
                        <div class="info-item__title"><b>Бассейн <br> 30 метров</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-park"></div>
                        <div class="info-item__title">Удобное расположение <br> и <b>парковая зона</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-icon"></div>
                        <div class="info-item__title">Трансфер <br> и <b>спецтранспорт</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-droplet-of-water"></div>
                        <div class="info-item__title">Бювет с <b> минеральной <br> водой</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-wifi-signal"></div>
                        <div class="info-item__title"><b>WI-FI</b> <br> на территории</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gallery-container container-white">
    <div class="circle-6 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="circle-7 circle">
        <img src="images/ellipse-7.png" alt="">
    </div>
    <div class="circle-8 circle">
        <img src="images/ellipse-8.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-13">
                <h1>Фотографии
                    <span>санатория</span>
                </h1>
                <p>
                    Санаторий расположен на живописном склоне горы Машук у исторического места дуэли Михаила
                    Юрьевича Лермонтова и занимает лесопарковую зону площадью 4,84 га.
                </p>
            </div>
            <div class="col-24">
                <div class="gallery-items">
                    <a href="images/gallery-1.jpg" data-fancybox="images">
                        <img src="images/gallery-1.jpg" alt="">
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images">
                        <img src="images/gallery-2.jpg" alt="">
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images">
                        <img src="images/gallery-3.jpg" alt="">
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images">
                        <img src="images/gallery-4.jpg" alt="">
                    </a>
                    <a href="images/gallery-5.jpg" data-fancybox="images">
                        <img src="images/gallery-5.jpg" alt="">
                    </a>
                    <a href="images/gallery-1.jpg" data-fancybox="images">
                        <img src="images/gallery-1.jpg" alt="">
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images">
                        <img src="images/gallery-2.jpg" alt="">
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images">
                        <img src="images/gallery-3.jpg" alt="">
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images">
                        <img src="images/gallery-4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-50 justify-content-center">
            <div class="col-lg-8">
                <a href="#" class="btn btn-green">Больше фотографий</a>
            </div>
        </div>
    </div>
</div>
<div class="entertainment-container container-white">
    <div class="circle-4 circle">
        <img src="images/ellipse-4.png" alt="">
    </div>
    <div class="circle-5 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-11 col-md-10 flex justify-content-center justify-content-md-start align-items-start flex-column">
                <div class="h1 title-mobile">Развлечения в санатории
                    <span>и городе</span>
                </div>
                <div class="gallery-small">
                    <a href="images/main-left.jpg" data-fancybox="images14">
                        <img src="images/main-left.jpg" alt="">
                    </a>
                    <a href="images/main-left.jpg" data-fancybox="images14">
                        <img src="images/main-left.jpg" alt="">
                    </a>
                    <a href="images/main-left.jpg" data-fancybox="images14">
                        <img src="images/main-left.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-13 col-md-14 pl-lg-5 mt-4 mt-lg-0">
                <h1 class="title-desctop">Развлечения в санатории
                    <span>и городе</span>
                </h1>
                <p class="mt-lg-5">
                    Для любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату
                    организует поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников
                    культуры, связанных с именами выдающихся людей. Вас ждут незабываемые экскурсии по горным
                    ущельям,
                    к подножью снежного Эльбруса, в Теберду и Домбай.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-24">
                <div class="entertainment-items">
                    <span class="entertainment-item">
                        <span class="entertainment-icon icon-cocktail-with-lemon-slice"></span>
                        <span class="entertainment-title">Бар</span>
                    </span>
                    <span class="entertainment-item">
                        <span class="entertainment-icon icon-video-camera"></span>
                        <span class="entertainment-title">Кинозал</span>
                    </span>
                    <span class="entertainment-item">
                        <span class="entertainment-icon icon-dancer-with-music"></span>
                        <span class="entertainment-title">Танцевальный <br> зал</span>
                    </span>
                    <span class="entertainment-item">
                        <span class="entertainment-icon icon-book"></span>
                        <span class="entertainment-title">Библиотека</span>
                    </span>
                    <span class="entertainment-item">
                        <span class="entertainment-icon icon-snooker"></span>
                        <span class="entertainment-title">Бильярдная</span>
                    </span>
                    <span class="entertainment-item">
                        <span class="entertainment-icon icon-weightlifting"></span>
                        <span class="entertainment-title">Тренажерный <br> зал</span>
                    </span>
                    <span class="entertainment-item">
                        <span class="entertainment-icon icon-tree"></span>
                        <span class="entertainment-title">Территория <br> для прогулок</span>
                    </span>
                    <span class="entertainment-item">
                        <span class="entertainment-icon icon-scissor-and-comb"></span>
                        <span class="entertainment-title">Косметический <br> салон <br> и парикмахерская</span>
                    </span>
                    <span class="entertainment-item">
                        <span class="entertainment-icon icon-mountains"></span>
                        <span class="entertainment-title">Экскурсии</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-lg-8">
                <a href="#" class="btn btn-green">Подробнее о досуге</a>
            </div>
        </div>
    </div>
</div>
<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="get-to container-white">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1">
                    Как к нам добраться?
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map-container container-white">
    <div class="map-container__info">
        <div class="container">
            <div class="row">
                <div class="col-24 flex justify-content-end">
                    <div class="container-map__info">
                        <div class="h2 mt-0 mb-2">Адрес:</div>
                        <p>Россия, Ставропольский край,
                            Пятигорск, Лермонтовский разъезд</p>
                        <div class="h2 mt-3 mb-2">Email:</div>
                        <a class="map-email" href="mailto:tenderlespol@profkurort.ru">tenderlespol@profkurort.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map">

    </div>
</div>