@@include('../layout/bread.html')
<div class="container">
    <div class="row">
        <div class="col-24">
            @@include('../layout/h1.html')
            @@include('../layout/h2.html')
            @@include('../layout/h3.html')
            @@include('../layout/h4.html')
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-11 col-md-10 flex justify-content-center justify-content-md-start align-items-start">
            <a href="images/main-left.jpg" data-fancybox="images12">
                <img src="images/main-left.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-13 col-md-14">
            <h1>Развлечения в санатории
                <span>и городе</span>
            </h1>
            <p class="mt-lg-5">
                Для любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату
                организует поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников
                культуры, связанных с именами выдающихся людей. Вас ждут незабываемые экскурсии по горным
                ущельям,
                к подножью снежного Эльбруса, в Теберду и Домбай.
            </p>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-24">
            <a href="images/main-big.jpg" data-fancybox="images13">
                <img src="images/main-big.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="row align-items-center mt-50">
        <div class="col-lg-10 col-md-14">
            <h1>Развлечения в санатории <br>
                <span>и городе</span>
            </h1>
            <p class="mt-lg-5">
                Для любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату
                организует поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников
                культуры, связанных с именами выдающихся людей. Вас ждут незабываемые экскурсии по горным
                ущельям,
                к подножью снежного Эльбруса, в Теберду и Домбай.
            </p>
        </div>
        <div class="col-lg-14 col-md-10 flex justify-content-center justify-content-md-end align-items-start">
            <a href="images/main-right.jpg" data-fancybox="images13">
                <img src="images/main-right.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-lg-13">
            <h1>Фотографии
                <span>санатория</span>
            </h1>
            <p>
                Санаторий расположен на живописном склоне горы Машук у исторического места дуэли Михаила
                Юрьевича Лермонтова и занимает лесопарковую зону площадью 4,84 га.
            </p>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-24">
            <div class="gallery-items">
                <a href="images/gallery-1.jpg" data-fancybox="images">
                    <img src="images/gallery-1.jpg" alt="">
                </a>
                <a href="images/gallery-2.jpg" data-fancybox="images">
                    <img src="images/gallery-2.jpg" alt="">
                </a>
                <a href="images/gallery-3.jpg" data-fancybox="images">
                    <img src="images/gallery-3.jpg" alt="">
                </a>
                <a href="images/gallery-4.jpg" data-fancybox="images">
                    <img src="images/gallery-4.jpg" alt="">
                </a>
                <a href="images/gallery-5.jpg" data-fancybox="images">
                    <img src="images/gallery-5.jpg" alt="">
                </a>
                <a href="images/gallery-1.jpg" data-fancybox="images">
                    <img src="images/gallery-1.jpg" alt="">
                </a>
                <a href="images/gallery-2.jpg" data-fancybox="images">
                    <img src="images/gallery-2.jpg" alt="">
                </a>
                <a href="images/gallery-3.jpg" data-fancybox="images">
                    <img src="images/gallery-3.jpg" alt="">
                </a>
                <a href="images/gallery-4.jpg" data-fancybox="images">
                    <img src="images/gallery-4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-50 justify-content-center">
        <div class="col-lg-8">
            <a href="#" class="btn btn-green">Больше фотографий</a>
        </div>
    </div>
    <div class="row mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li>острый <b>инфаркт миокарда;</b></li>
                        <li><b>операции на сердце</b> и магистральных сосудах;</li>
                        <li><b>ишемическая болезнь</b> сердца, в том числе нестабильная <b>стенокардия;</b></li>
                        <li><b>миокардиодистрофия;</b></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <ul>
                        <li><b>гипертоническая болезнь;</b></li>
                        <li>артериальная симптоматическая <b>гипертензия;</b></li>
                        <li><b>нейроциркуляторная дистония</b> и другие сердечно-сосудистые заболевания.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-50">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <ol>
                        <li>острый <b>инфаркт миокарда;</b></li>
                        <li><b>операции на сердце</b> и магистральных сосудах;</li>
                        <li><b>ишемическая болезнь</b> сердца, в том числе нестабильная</li>
                        <li><b>миокардиодистрофия</b>;</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-24">
            <div class="hr"></div>
            <div class="name">Иванова Иван Иванович</div>
            <div class="place">г. Москва <br> Отдыхал и лечился в кардиологическом отделении</div>
            <p class="mt-50 fs-14">
                Официальный сайт санатория г. Пятигорск
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-8 col-md-12 mt-5 flex flex-column align-items-center align-items-md-start">
            <a href="images/main-three.jpg" data-fancybox="images2">
                <img src="images/main-three.jpg" alt="">
            </a>

            <p class="mt-md-5 mt-3">Для любителей активного отдыха Пятигорское экскурсионное бюро за
                дополнительную
                оплату организует поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников
                культуры, связанных с именами выдающихся людей. Вас ждут незабываемые экскурсии по горным
                ущельям, к подножью снежного Эльбруса, в Теберду и Домбай.</p>
        </div>
        <div class="col-lg-8 col-md-12 mt-5 flex flex-column align-items-center align-items-md-start">
            <a href="images/main-three.jpg" data-fancybox="images3">
                <img src="images/main-three.jpg" alt="">
            </a>
            <p class="mt-md-5 mt-3">Для любителей активного отдыха Пятигорское экскурсионное бюро за
                дополнительную
                оплату организует поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников
                культуры, связанных с именами выдающихся людей. Вас ждут незабываемые экскурсии по горным
                ущельям, к подножью снежного Эльбруса, в Теберду и Домбай.</p>
        </div>
        <div class="col-lg-8 col-md-12 mt-5 flex flex-column align-items-center align-items-md-start">
            <a href="images/main-three.jpg" data-fancybox="images4">
                <img src="images/main-three.jpg" alt="">
            </a>
            <p class="mt-md-5 mt-3">Для любителей активного отдыха Пятигорское экскурсионное бюро за
                дополнительную
                оплату организует поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников
                культуры, связанных с именами выдающихся людей. Вас ждут незабываемые экскурсии по горным
                ущельям, к подножью снежного Эльбруса, в Теберду и Домбай.</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 mt-5 flex flex-column align-items-center align-items-md-start">
            <a href="images/main-two.jpg" data-fancybox="images5">
                <img src="images/main-two.jpg" alt="">
            </a>
            <p class="mt-md-5 mt-3">Для любителей активного отдыха Пятигорское экскурсионное бюро за
                дополнительную
                оплату организует поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников
                культуры, связанных с именами выдающихся людей. Вас ждут незабываемые экскурсии по горным
                ущельям, к подножью снежного Эльбруса, в Теберду и Домбай.</p>
        </div>
        <div class="col-md-12 mt-5 flex flex-column align-items-center align-items-md-start">
            <a href="images/main-two.jpg" data-fancybox="images6">
                <img src="images/main-two.jpg" alt="">
            </a>
            <p class="mt-md-5 mt-3">Для любителей активного отдыха Пятигорское экскурсионное бюро за
                дополнительную
                оплату организует поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников
                культуры, связанных с именами выдающихся людей. Вас ждут незабываемые экскурсии по горным
                ущельям, к подножью снежного Эльбруса, в Теберду и Домбай.</p>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-24">
            <div class="h1">Заказать <span>просчет стоимости лечения</span></div>
            @@include('../layout/cost-form.html')
        </div>
    </div>
    <div class="row mt-50">
        <div class="container">
            <div class="row">
                <div class="col-24">
                    <div class="h1">
                        Стоимость лечения <br> <span> по программе</span>
                    </div>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <div class="collapse-link" data-toggle="collapse" data-target="#collapseOne"
                                     aria-controls="collapseOne">
                                    <div class="h2"> Сердечно-сосудистые <span>заболевания</span></div>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <div class="category-container__table">
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-th">
                                                        <span>
                                                            Номер
                                                        </span>
                                            </div>
                                            <div class="category-table-date">
                                                <div class="category-container__table-hidden">
                                                    <div class="category-container__table-height">
                                                        <div class="category-container__table-th wrapAll active"
                                                             data-date="date-1">
                                                                    <span>
                                                                       c 10.01.19-10.03.19
                                                                    </span>
                                                        </div>
                                                        <div class="category-container__table-th wrapAll"
                                                             data-date="date-2">
                                                                    <span>
                                                                      c  11.03.19-02.06.19
                                                                    </span>
                                                        </div>
                                                        <div class="category-container__table-th wrapAll"
                                                             data-date="date-3">
                                                                    <span>
                                                                    c 03.06.19-01.09.19
                                                                    </span>
                                                        </div>
                                                        <div class="category-container__table-th wrapAll"
                                                             data-date="date-4">
                                                                    <span>
                                                                    c 02.09.19-03.11.19
                                                                    </span>
                                                        </div>
                                                        <div class="category-container__table-th wrapAll"
                                                             data-date="date-5">
                                                                    <span>
                                                                    c 04.11.19-09.01.20
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="category-container__table-th active-element">
                                                            <span id="table-date2">
                                                                <span>
                                                                02.09.19-03.11.19
                                                                </span>
                                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 2К
                                                        </span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-1">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-2">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-3">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td active"
                                                 data-date_price="date-4"><span class="numb">3550 руб.</span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-5">
                                                <span class="numb">3550 руб.</span></div>
                                        </div>
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-td">
                                                        <span class="numb">
                                                         Двухместный 2К
                                                        </span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-1">
                                                <span class="numb">650 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-2">
                                                <span class="numb">5550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-3">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td active"
                                                 data-date_price="date-4"><span class="numb">3550 руб.</span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-5">
                                                <span class="numb">3550 руб.</span></div>
                                        </div>
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 1К
                                                        </span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-1">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-2">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-3">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td active"
                                                 data-date_price="date-4"><span class="numb">3550 руб.</span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-5">
                                                <span class="numb">3550 руб.</span></div>
                                        </div>
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-td">
                                                        <span class="numb">
                                                        Двухместный 1К
                                                        </span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-1">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-2">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-3">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td active"
                                                 data-date_price="date-4"><span class="numb">3550 руб.</span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-5">
                                                <span class="numb">3550 руб.</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <div class="collapse-link collapsed" data-toggle="collapse"
                                     data-target="#collapseTwo"
                                     aria-controls="collapseOne">
                                    <div class="h2"> Сопровождающий <span>кардиологического пациента</span>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <div class="category-container__table">
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-th">
                                                        <span>
                                                            Номер
                                                        </span>
                                            </div>
                                            <div class="category-table-date">
                                                <div class="category-container__table-hidden">
                                                    <div class="category-container__table-height">
                                                        <div class="category-container__table-th wrapAll active"
                                                             data-date="date-1">
                                                                    <span>
                                                                       c 10.01.19-10.03.19
                                                                    </span>
                                                        </div>
                                                        <div class="category-container__table-th wrapAll"
                                                             data-date="date-2">
                                                                    <span>
                                                                      c  11.03.19-02.06.19
                                                                    </span>
                                                        </div>
                                                        <div class="category-container__table-th wrapAll"
                                                             data-date="date-3">
                                                                    <span>
                                                                    c 03.06.19-01.09.19
                                                                    </span>
                                                        </div>
                                                        <div class="category-container__table-th wrapAll"
                                                             data-date="date-4">
                                                                    <span>
                                                                    c 02.09.19-03.11.19
                                                                    </span>
                                                        </div>
                                                        <div class="category-container__table-th wrapAll"
                                                             data-date="date-5">
                                                                    <span>
                                                                    c 04.11.19-09.01.20
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="category-container__table-th active-element">
                                                            <span id="table-date">
                                                                <span>
                                                                02.09.19-03.11.19
                                                                </span>
                                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 2К
                                                        </span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-1">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-2">
                                                <span class="numb">3650 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-3">
                                                <span class="numb">3750 руб.</span></div>
                                            <div class="category-container__table-td active"
                                                 data-date_price="date-4"><span class="numb">3550 руб.</span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-5">
                                                <span class="numb">3550 руб.</span></div>
                                        </div>
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-td">
                                                        <span class="numb">
                                                         Двухместный 2К
                                                        </span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-1">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-2">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-3">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td active"
                                                 data-date_price="date-4"><span class="numb">3550 руб.</span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-5">
                                                <span class="numb">3550 руб.</span></div>
                                        </div>
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 1К
                                                        </span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-1">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-2">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-3">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td active"
                                                 data-date_price="date-4"><span class="numb">3550 руб.</span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-5">
                                                <span class="numb">3550 руб.</span></div>
                                        </div>
                                        <div class="category-container__table-tr">
                                            <div class="category-container__table-td">
                                                        <span class="numb">
                                                        Двухместный 1К
                                                        </span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-1">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-2">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td" data-date_price="date-3">
                                                <span class="numb">3550 руб.</span></div>
                                            <div class="category-container__table-td active"
                                                 data-date_price="date-4"><span class="numb">3550 руб.</span>
                                            </div>
                                            <div class="category-container__table-td" data-date_price="date-5">
                                                <span class="numb">3550 руб.</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-lg-10 pr-lg-5">
            @@include('../layout/sidebar.html')
            <a href="#" class="advertising-item mt-50">
                <div class="advertising-item__pic">
                    <img src="images/advesting.jpg" alt="">
                </div>
                <div class="advertising-item__content">
                    <div class="advertising-item__top">
                        <div class="advertising-item__number">-5%</div>
                        <div class="advertising-item__title">Скидка при двухместном размещении</div>
                    </div>
                    <span class="btn btn-green">Подробнее</span>
                    <div class="advertising-item__date">
                        с 1 мая<br> по 12 мая
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-14">
            <h1>
                <span>Медицинская</span> <br>
                база санатория
            </h1>
            <p>
                Среди множества преимуществ санатория, важнейшим фактором является эффективность лечения.
            </p>
            <p>
                Современная материально-техническая база, состоящая из нового немецкого оборудования и штат
                профессиональных медицинских специалистов позволяют проводить точную диагностику, лечение и
                профилактику широкого спектра заболеваний.
            </p>
            <p>
                Лечение в санатории сочетает методы классической медикаментозной и физиоаппаратной медицины с
                рекреационными процедурами: бальнео-, климато-
                и грязелечением, иммунологической коррекцией, лечебным массажем, курсами питья минеральных вод и
                прогулками по терренкурам. Эффективность лечения болезни зависит, в первую очередь, от качества
                диагностики и точности поставленного диагноза. В санатории используются только передовые
                клинико-лабораторные исследования. Первичный приём и консультации отдыхающих проводят терапевт,
                гастроэнтеролог и врач-диетолог.
            </p>
            <p>
                При наличии показаний клиента консультируют врачи-специалисты: <b>гинеколог, эндокринолог,
                уролог,
                кардиолог, отоларинголог, дерматолог и невролог.</b>
            </p>
        </div>
    </div>
    <div class="row mt-50 justify-content-between">
        <div class="col-24">
            <h1><span>Как к нам </span>добраться?</h1>
        </div>
        <div class="col-lg-10">
            <ul class="way">
                <li class="way-title way-aircraft">
                    На самолете
                </li>
                <li>
                    Путь следования из аэропорта «Минеральные Воды»:
                </li>
                <li>
                    Маршрутным такси до ж/д вокзала «Минеральные Воды»,
                    далее электропоездомдо станции «Лермонтовская».
                    <a href="#" class="text-green"><b>Расписание электричек</b></a>
                </li>
                <li> Или автобусом № 223 до ж/д вокзала г. Пятигорска, далее
                    от привокзальной площади г. Пятигорска – трамваем № 2
                    до остановки «станция «Лермонтовская» (конечная).
                </li>
            </ul>
        </div>
        <div class="col-lg-10">
            <ul class="way">
                <li class="way-title way-train">
                    На поезде
                </li>
                <li>
                    Поездом до ЖД вокзала г. Пятигорска, от привокзальной
                    площади г. Пятигорска – трамваем № 2 до остановки «станция
                    «Лермонтовская» (конечная).
                </li>
            </ul>
            <ul class="way">
                <li class="way-title way-transfer">
                    Трансфер
                </li>
                <li>
                    Услуги трансфера оказываются в будние дни только
                    при групповых заездах по путевкам на основании заявки.
                </li>
            </ul>
        </div>
    </div>
    @@include('../layout/question.html')
</div>
