@@include('../layout/bread.html')
<div class="leisure-container">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-10 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-24 mb-lg-5 mb-4">
                    <h1>Досуг <span>санатория Лесная Поляна</span></h1>
                    <div class="leisure-item" style="background-image: url(images/leisure-1.jpg)">
                        <div class="h2 mb-4">Отдых в городе Пятигорск</div>
                        <div class="leisure-item__content">В городе много вариантов проведения своего досуга. Пешие
                            прогулки по историческим переулкам, терренкур по горе Машук, множество кафе и ресторанов,
                            кинотеатры и бары. И еще немного текста о том как в Пятигоске красиво и чудесно.
                        </div>
                        <a href="#" class="btn btn-green leisure-item__link">Подробнее</a>
                        <div class="leisure-icon">
                            <span class="icon-property"></span>
                        </div>
                    </div>
                    <div class="leisure-item" style="background-image: url(images/leisure-2.jpg)">
                        <div class="h2 mb-4">Отдых и досуг в санатории</div>
                        <div class="leisure-item__content">В городе много вариантов проведения своего досуга. Пешие
                            прогулки по историческим переулкам, терренкур по горе Машук, множество кафе и ресторанов,
                            кинотеатры и бары. И еще немного текста о том как в Пятигоске красиво и чудесно.
                        </div>
                        <a href="#" class="btn btn-green leisure-item__link">Подробнее</a>
                        <div class="leisure-icon">
                            <span class="icon-hotel-with-three-floors"></span>
                        </div>
                    </div>
                    <div class="leisure-item" style="background-image: url(images/leisure-3.jpg)">
                        <div class="h2 mb-4">Экскурсии</div>
                        <div class="leisure-item__content">В городе много вариантов проведения своего досуга. Пешие
                            прогулки по историческим переулкам, терренкур по горе Машук, множество кафе и ресторанов,
                            кинотеатры и бары. И еще немного текста о том как в Пятигоске красиво и чудесно.
                        </div>
                        <a href="#" class="btn btn-green leisure-item__link">Подробнее</a>
                        <div class="leisure-icon">
                            <span class="icon-park"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('../layout/interesting.html')
    </div>
</div>
<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>