@@include('../layout/bread.html')
<div class="price-container">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <h1>Стоимость <span>лечения и проживания</span></h1>
            </div>
        </div>
        <div class="row mt-lg-4">
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-stethoscope"></div>
                    <div class="interesting-item__title">Стоимость по путевкам  в обещетерапевтическое  отделение</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-heartbeat2"></div>
                    <div class="interesting-item__title">Стоимость по путевкам  в кардиологическое отделение</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-spine"></div>
                    <div class="interesting-item__title">Стоимость по путевкам  в спинальное отделение</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="sale-container">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-5 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="sale">
                    <h2 class="mt-0">
                        <span>В санатории «Лесная поляна» можно </span>получить скидку на путевку!
                    </h2>
                    <div class="sale-items">
                        <div class="sale-item">
                            <div class="sale-item__top">
                                <div class="sale-item__number"><span>3%</span></div>
                                <div class="sale-item__title">скидка</div>
                            </div>
                            <div class="sale-item__content">
                                Скидка пенсионерам
                            </div>
                        </div>
                        <div class="sale-item">
                            <div class="sale-item__top">
                                <div class="sale-item__number"><span>3%</span></div>
                                <div class="sale-item__title">скидка</div>
                            </div>
                            <div class="sale-item__content">
                                Для клиентов, приезжающих <br> за наличный расчёт <br> <b> во второй раз</b>
                            </div>
                        </div>
                        <div class="sale-item">
                            <div class="sale-item__top">
                                <div class="sale-item__number"><span>5%</span></div>
                                <div class="sale-item__title">скидка</div>
                            </div>
                            <div class="sale-item__content">
                                Для тех, кто приезжает <br> <b>третий и четвёртый разы</b>
                            </div>
                        </div>
                        <div class="sale-item">
                            <div class="sale-item__top">
                                <div class="sale-item__number"><span>8%</span></div>
                                <div class="sale-item__title">скидка</div>
                            </div>
                            <div class="sale-item__content">
                                Для тех, кто приезжает <br> <b>пятый раз и более</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-lg-5 mt-5">
        <div class="row">
            <div class="col-24">
                <div class="h1"><span>Вам будет </span>интересно:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-doctor-2"></div>
                    <div class="interesting-item__title">Медицинские услуги санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>