@@include('../layout/bread.html')
<div class="price-cardio__container">
    <div class="container mt-50">
        <div class="row">
            <div class="col-lg-10 pr-lg-5">
                @@include('../layout/sidebar.html')
                <a href="#" class="advertising-item mt-50">
                    <div class="advertising-item__pic">
                        <img src="images/advesting.jpg" alt="">
                    </div>
                    <div class="advertising-item__content">
                        <div class="advertising-item__top">
                            <div class="advertising-item__number">-5%</div>
                            <div class="advertising-item__title">Скидка при двухместном размещении</div>
                        </div>
                        <div class="btn btn-green">Подробнее</div>
                        <div class="advertising-item__date">
                            с 1 мая<br> по 12 мая
                        </div>
                    </div>
                </a>
                <a href="#" class="payment-container mt-4">
                    <span class="payment-top">
                        Закажите
                    </span>
                    <span class="payment-content">
                        просчет стоимости путевки <br> через сайт
                    </span>
                    <span class="btn btn-green">
                        Заказать просчет
                    </span>
                </a>
            </div>
            <div class="col-lg-14 mt-5 mt-lg-0">
                <h1 class="mt-0">  Стоимость лечения  <br><span> в кардиологическом <br> отделении</span></h1>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="collapse-link" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                <div class="h2"> Сердечно-сосудистые <span>заболевания</span></div>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body card-body__scroll">
                                <div class="category-container__table">
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-th">
                                                        <span>
                                                            Номер
                                                        </span>
                                        </div>
                                        <div class="category-table-date">
                                            <div class="category-container__table-hidden">
                                                <div class="category-container__table-height">
                                                    <div class="category-container__table-th wrapAll active" data-date="date-1">
                                                                    <span>
                                                                       c 10.01.19-10.03.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-2">
                                                                    <span>
                                                                      c  11.03.19-02.06.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-3">
                                                                    <span>
                                                                    c 03.06.19-01.09.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-4">
                                                                    <span>
                                                                    c 02.09.19-03.11.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-5">
                                                                    <span>
                                                                    c 04.11.19-09.01.20
                                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-container__table-th active-element">
                                                            <span id="table-date2">
                                                                <span>
                                                                02.09.19-03.11.19
                                                                </span>
                                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                         Двухместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                        Двухместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <div class="collapse-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseOne">
                                <div class="h2"> Сопровождающий <span>кардиологического пациента</span>
                                </div>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body card-body__scroll">
                                <div class="category-container__table">
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-th">
                                                        <span>
                                                            Номер
                                                        </span>
                                        </div>
                                        <div class="category-table-date">
                                            <div class="category-container__table-hidden">
                                                <div class="category-container__table-height">
                                                    <div class="category-container__table-th wrapAll active" data-date="date-1">
                                                                    <span>
                                                                       c 10.01.19-10.03.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-2">
                                                                    <span>
                                                                      c  11.03.19-02.06.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-3">
                                                                    <span>
                                                                    c 03.06.19-01.09.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-4">
                                                                    <span>
                                                                    c 02.09.19-03.11.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-5">
                                                                    <span>
                                                                    c 04.11.19-09.01.20
                                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-container__table-th active-element">
                                                            <span id="table-date">
                                                                <span>
                                                                02.09.19-03.11.19
                                                                </span>
                                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3650 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3750 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                         Двухместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                        Двухместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sale-cardio-container container-white">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-5 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="sale">
                    <h2 class="mt-0">
                        <span>В санатории «Лесная поляна» можно </span>получить скидку на путевку!
                    </h2>
                    <div class="sale-items">
                        <div class="sale-item">
                            <div class="sale-item__top">
                                <div class="sale-item__number"><span>3%</span></div>
                                <div class="sale-item__title">скидка</div>
                            </div>
                            <div class="sale-item__content">
                                Скидка пенсионерам
                            </div>
                        </div>
                        <div class="sale-item">
                            <div class="sale-item__top">
                                <div class="sale-item__number"><span>3%</span></div>
                                <div class="sale-item__title">скидка</div>
                            </div>
                            <div class="sale-item__content">
                                Для клиентов, приезжающих <br> за наличный расчёт <br> <b> во второй раз</b>
                            </div>
                        </div>
                        <div class="sale-item">
                            <div class="sale-item__top">
                                <div class="sale-item__number"><span>5%</span></div>
                                <div class="sale-item__title">скидка</div>
                            </div>
                            <div class="sale-item__content">
                                Для тех, кто приезжает <br> <b>третий и четвёртый разы</b>
                            </div>
                        </div>
                        <div class="sale-item">
                            <div class="sale-item__top">
                                <div class="sale-item__number"><span>8%</span></div>
                                <div class="sale-item__title">скидка</div>
                            </div>
                            <div class="sale-item__content">
                                Для тех, кто приезжает <br> <b>пятый раз и более</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="interesting container-white">
    <div class="container ">
        <div class="row">
            <div class="col-24">
                <div class="h1"><span>Вам будет </span>интересно:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-doctor-2"></div>
                    <div class="interesting-item__title">Медицинские услуги санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>