@@include('../layout/bread.html')
<div class="program-page__container">
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-24">
                <div class="number-items anchor-container">
                    <span class="number-item__default">
                        <span>Показания и противовопоказания</span>
                    </span>
                    <div class="number-items__container-hid">
                        <div class="number-items__container">
                            <a href="#testimony" class="number-item active">
                                Показания и противовопоказания
                            </a>
                            <a href="#doctors" class="number-item">
                                Врачи профиля
                            </a>
                            <a href="#program" class="number-item">
                                Программы
                            </a>
                            <a href="#accommodation" class="number-item">
                                Проживание
                            </a>
                            <a href="#price" class="number-item">
                                Стоимость
                            </a>
                            <a href="#reviews" class="number-item">
                                Отзывы
                            </a>
                            <a href="#foto" class="number-item">
                                Фотографии отделения
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-24 mt-4">
                <div class="h1">
                    Лечение заболеваний сердца
                </div>
                <ul class="program-link__container program-link__container__tab" id="pill-tab">
                    <li class="nav-item">
                        <a href="#program-link-1" class="program-link active" id="program-link-1-tab"
                           data-toggle="pill">Показания для лечения</a>
                    </li>
                    <li class="nav-item">
                        <a href="#program-link-2" class="program-link" id="program-link-2-tab"
                           data-toggle="pill">Противопоказания</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-white list-items__container mt-lg-5 tab-content " id="testimony">
    <div class="container pt-xl-4 tab-pane fade show active" id="program-link-1">
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>острый <b>инфаркт миокарда;</b></li>
                    <li><b>операции на сердце</b> и магистральных сосудах;</li>
                    <li><b>ишемическая болезнь</b> сердца, в том числе нестабильная <b>стенокардия;</b></li>
                    <li><b>миокардиодистрофия;</b></li>
                </ul>
            </div>
            <div class="col-lg-12 mt-4 mt-lg-0">
                <ul>
                    <li><b>гипертоническая болезнь;</b></li>
                    <li>артериальная симптоматическая <b>гипертензия;</b></li>
                    <li><b>нейроциркуляторная дистония</b> и другие сердечно-сосудистые заболевания.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container pt-xl-4 tab-pane fade" id="program-link-2">
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>острый <b>инфаркт миокарда;</b></li>
                    <li><b>операции на сердце</b> и магистральных сосудах;</li>
                    <li><b>ишемическая болезнь</b> сердца, в том числе нестабильная <b>стенокардия;</b></li>
                    <li><b>миокардиодистрофия;</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-white pt-5 pb-lg-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-18">
                <p> Отделение кардиологической реабилитации, в том числе ранней, больных, перенесших острый инфаркт
                    миокарда, нестабильную стенокардию, операции на сердце и магистральных сосудах (кардиологическое
                    отделение) функционирует в круглосуточном режиме, имеется блок интенсивной терапии. Кадры имеют
                    специальную подготовку и опыт работы в кардиологическом отделении и в реанимационном блоке.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-24">
                <div class="info-items mt-5">
                    <div class="info-item">
                        <div class="info-item__icon icon-notifications-button"></div>
                        <div class="info-item__title"><b>Кнопка экстренного </b> <br> вызова персонала <br> в номере
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-star"></div>
                        <div class="info-item__title">Современные методики <br><b>реабилитации</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-bowl-with-vegetables"></div>
                        <div class="info-item__title"><b> Специалисты</b>по сердцу <br> и его заболеваниям</div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-cloud"></div>
                        <div class="info-item__title"><b>Климатолечение</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="specialist-container container-white" id="doctors">
    <div class="circle-6 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="circle-1 circle">
        <img src="images/ellipse-1.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1">Специалисты, <span>которые вам помогут</span></div>
                <div class="specialist-slider">
                    <div class="specialist-item">
                        <div class="specialist-item__pic">
                            <img src="images/specialist.jpg" alt="">
                        </div>
                        <div class="specialist-item__content">
                            <div class="specialist-item__name">Иванова Людмила Ивановна</div>
                            <div class="specialist-item__profile">Кандидат медицинских наук, профессор, кардиолог</div>
                        </div>
                    </div>
                    <div class="specialist-item">
                        <div class="specialist-item__pic">
                            <img src="images/specialist.jpg" alt="">
                        </div>
                        <div class="specialist-item__content">
                            <div class="specialist-item__name">Иванова Людмила Ивановна</div>
                            <div class="specialist-item__profile">Кандидат медицинских наук, профессор, кардиолог</div>
                        </div>
                    </div>
                    <div class="specialist-item">
                        <div class="specialist-item__pic">
                            <img src="images/specialist.jpg" alt="">
                        </div>
                        <div class="specialist-item__content">
                            <div class="specialist-item__name">Иванова Людмила Ивановна</div>
                            <div class="specialist-item__profile">Кандидат медицинских наук, профессор, кардиолог</div>
                        </div>
                    </div>
                    <div class="specialist-item">
                        <div class="specialist-item__pic">
                            <img src="images/specialist.jpg" alt="">
                        </div>
                        <div class="specialist-item__content">
                            <div class="specialist-item__name">Иванова Людмила Ивановна</div>
                            <div class="specialist-item__profile">Кандидат медицинских наук, профессор, кардиолог</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-white pt-4" id="program">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1">Программы профиля</div>
                <p>Отделение оснащено современной диагностической аппаратурой, в т. ч. аппаратами для холтеровского
                    мониторирования, суточного мониторирования артериального давления и компьютерной диагностической
                    системой для велоэргометрии, реографии, эхокардиографии и др. Применяются современные методики
                    реабилитации. В процессе лечения больные принимают медикаментозное лечение, которое корректируется
                    лечащим врачом и больной выписывается из санатория с оптимально подобранной дозой медикаментозных
                    средств, совместимой с физическими нагрузками. Проводится также лечение сопутствующих заболеваний.
                </p>
                <h4>
                    Выберите подходящую вам путевку:
                </h4>
            </div>
        </div>
        <div class="row">
            @@include('../layout/ruble.html')
            @@include('../layout/ruble.html')
        </div>
    </div>
</div>
<div class="container-white accommodation-section" id="accommodation">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1 pt-3">Проживание <span>для программы "Лечение сердца"</span></div>
                <div class="number-items">
                    <span class="number-item__default">
                        <span> Одноместный 2К</span>
                    </span>
                    <div class="number-items__container-hid">
                        <ul class="number-items number-items__slider number-items__container" id="number-tab">
                            <li class="nav-item">
                                <a href="#number-item-1" class="number-item active" id="number-item-1-tab"
                                   data-toggle="pill">
                                    Одноместный 2К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-2" class="number-item" id="number-item-2-tab"
                                   data-toggle="pill">
                                    Двухместный 2К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-3" class="number-item" id="number-item-3-tab"
                                   data-toggle="pill">
                                    Одноместный 1К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-4" class="number-item" id="number-item-4-tab"
                                   data-toggle="pill">
                                    Двухместный 1К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-5" class="number-item" id="number-item-5-tab"
                                   data-toggle="pill">
                                    Двухместный двухкомнатный 1К
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="number-tabContent">
                    <div class="row tab-pane fade show active" id="number-item-1">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-2">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-3">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-4">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-5">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-white container-number pt-4 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <h2 class="mt-0">В номере:</h2>
                <div class="facilities-items">
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-shower"></div>
                        <div class="facilities-item__title">Душ, туалет</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-air-conditioner"></div>
                        <div class="facilities-item__title">Кондиционер</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-fridge"></div>
                        <div class="facilities-item__title">Холодильник</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-balcony"></div>
                        <div class="facilities-item__title">Балкон</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-tv"></div>
                        <div class="facilities-item__title">Телевизор</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-old-typical-phone"></div>
                        <div class="facilities-item__title">Экстренный вызов</div>
                    </div>
                </div>
            </div>
            <div class="col-24">
                <p>Небольшой текст описание номера, чем он еще оснащен, какой вид ,к акой сервис, как часто его
                    убирают Небольшой текст описание номера, чем он еще оснащен, какой вид ,к акой сервис, как
                    часто его убирают Небольшой текст описание номера, чем он еще оснащен, какой вид ,к акой
                    сервис, как часто его убирают Небольшой текст описание номера, чем он еще оснащен, какой вид
                    ,к акой сервис, как часто его убирают</p>
            </div>
        </div>
    </div>
</div>
<div class="container-white bg-gray" id="price">
    <div class="circle-6 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="circle-16 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1 mb-4">
                    Стоимость лечения <br> <span> сердца в санатории</span>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="collapse-link" data-toggle="collapse" data-target="#collapseOne"
                                 aria-controls="collapseOne">
                                <div class="h2"> Сердечно-сосудистые <span>заболевания</span></div>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="category-container__table">
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-th">
                                                        <span>
                                                            Номер
                                                        </span>
                                        </div>
                                        <div class="category-table-date">
                                            <div class="category-container__table-hidden">
                                                <div class="category-container__table-height">
                                                    <div class="category-container__table-th wrapAll active"
                                                         data-date="date-1">
                                                                    <span>
                                                                       c 10.01.19-10.03.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll"
                                                         data-date="date-2">
                                                                    <span>
                                                                      c  11.03.19-02.06.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll"
                                                         data-date="date-3">
                                                                    <span>
                                                                    c 03.06.19-01.09.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll"
                                                         data-date="date-4">
                                                                    <span>
                                                                    c 02.09.19-03.11.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll"
                                                         data-date="date-5">
                                                                    <span>
                                                                    c 04.11.19-09.01.20
                                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-container__table-th active-element">
                                                            <span id="table-date2">
                                                                <span>
                                                                02.09.19-03.11.19
                                                                </span>
                                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span
                                                class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                         Двухместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span
                                                class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span
                                                class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                        Двухместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span
                                                class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <div class="collapse-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                 aria-controls="collapseOne">
                                <div class="h2"> Сопровождающий <span>кардиологического пациента</span>
                                </div>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="category-container__table">
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-th">
                                                        <span>
                                                            Номер
                                                        </span>
                                        </div>
                                        <div class="category-table-date">
                                            <div class="category-container__table-hidden">
                                                <div class="category-container__table-height">
                                                    <div class="category-container__table-th wrapAll active"
                                                         data-date="date-1">
                                                                    <span>
                                                                       c 10.01.19-10.03.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll"
                                                         data-date="date-2">
                                                                    <span>
                                                                      c  11.03.19-02.06.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll"
                                                         data-date="date-3">
                                                                    <span>
                                                                    c 03.06.19-01.09.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll"
                                                         data-date="date-4">
                                                                    <span>
                                                                    c 02.09.19-03.11.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll"
                                                         data-date="date-5">
                                                                    <span>
                                                                    c 04.11.19-09.01.20
                                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-container__table-th active-element">
                                                            <span id="table-date">
                                                                <span>
                                                                02.09.19-03.11.19
                                                                </span>
                                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3650 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3750 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span
                                                class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                         Двухместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span
                                                class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span
                                                class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                        Двухместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span
                                                class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-7 col-md-8">
                <a href="#" class="btn btn-green">Заказать путевку</a>
            </div>
            <div class="col-lg-7 col-md-8 mt-4 mt-md-0">
                <a href="#" class="btn btn-blue">Задать вопрос</a>
            </div>
        </div>
    </div>
</div>
<div class="container-white pt-4" id="foto">
    <div class="circle-6 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="circle-7 circle">
        <img src="images/ellipse-7.png" alt="">
    </div>
    <div class="circle-8 circle">
        <img src="images/ellipse-8.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-13">
                <h1 class="mt-0">Фотографии
                    <span>санатория</span>
                </h1>
                <p>
                    Санаторий расположен на живописном склоне горы Машук у исторического места дуэли Михаила
                    Юрьевича Лермонтова и занимает лесопарковую зону площадью 4,84 га.
                </p>
            </div>
            <div class="col-24">
                <div class="gallery-items">
                    <a href="images/gallery-1.jpg" data-fancybox="images">
                        <img src="images/gallery-1.jpg" alt="">
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images">
                        <img src="images/gallery-2.jpg" alt="">
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images">
                        <img src="images/gallery-3.jpg" alt="">
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images">
                        <img src="images/gallery-4.jpg" alt="">
                    </a>
                    <a href="images/gallery-5.jpg" data-fancybox="images">
                        <img src="images/gallery-5.jpg" alt="">
                    </a>
                    <a href="images/gallery-1.jpg" data-fancybox="images">
                        <img src="images/gallery-1.jpg" alt="">
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images">
                        <img src="images/gallery-2.jpg" alt="">
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images">
                        <img src="images/gallery-3.jpg" alt="">
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images">
                        <img src="images/gallery-4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-50 justify-content-center">
            <div class="col-lg-8">
                <a href="#" class="btn btn-green">Больше фотографий</a>
            </div>
        </div>
    </div>
</div>
<div class="reviews-section container-white bg-gray" id="reviews">
    <div class="circle-6 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1 mt-4">Отзывы об отдыхе <span>и лечении <br> в кардиотделении</span></div>
                <div class="reviews-slider">
                    <div class="reviews-slider__item">
                        <div class="reviews-slider__pic">
                            <img src="images/reviews_pic.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <div class="reviews-item__info mb-4">
                                <div class="name">Иванова Иван Иванович</div>
                                <div class="place">г. Москва <br> Отдыхал и лечился в кардиологическом отделении</div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus sapien nunc eget.</p>
                        </div>
                    </div>
                    <div class="reviews-slider__item">
                        <div class="reviews-slider__pic">
                            <img src="images/reviews_pic.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <div class="reviews-item__info mb-4">
                                <div class="name">Иванова Иван Иванович</div>
                                <div class="place">г. Москва <br> Отдыхал и лечился в кардиологическом отделении</div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus sapien nunc eget.</p>
                        </div>
                    </div>
                    <div class="reviews-slider__item">
                        <div class="reviews-slider__pic">
                            <img src="images/reviews_pic.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <div class="reviews-item__info mb-4">
                                <div class="name">Иванова Иван Иванович</div>
                                <div class="place">г. Москва <br> Отдыхал и лечился в кардиологическом отделении</div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus sapien nunc eget.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-white mt-0 pt-4">
    <div class="circle-12 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1 mt-0"><span>Вам будет </span>интересно:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-doctor-2"></div>
                    <div class="interesting-item__title">Медицинские услуги санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>