@@include('../layout/bread.html')
<div class="program-page__container">
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-18">
                <div class="h1">
                    <span>Программа</span> "Сердечно- <br> сосудистые заболевания"
                </div>
                <ul class="program-link__container program-link__container__tab program-link__desktop" id="pill-tab">
                    <li class="nav-item">
                        <a href="#program-link-1" class="program-link active" id="program-link-1-tab"
                           data-toggle="pill">Показания для лечения</a>
                    </li>
                    <li class="nav-item">
                        <a href="#program-link-2" class="program-link" id="program-link-2-tab"
                           data-toggle="pill">Противопоказания</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 flex justify-content-between align-items-lg-end align-items-center flex-lg-column mt-4 mt-lg-0">
                <div class="price-circle">
                    от 3 550 <br> Р/сутки
                </div>
                <a href="#" class="price-big__link">Смотреть прайс</a>
            </div>
            <div class="col-24">
                <ul class="program-link__container program-link__container__tab program-link__mobile" id="pill-tab">
                    <li class="nav-item">
                        <a href="#program-link-1" class="program-link active" id="program-link-1-tab"
                           data-toggle="pill">Показания для лечения</a>
                    </li>
                    <li class="nav-item">
                        <a href="#program-link-2" class="program-link" id="program-link-2-tab"
                           data-toggle="pill">Противопоказания</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-white list-items__container mt-lg-5 tab-content">
    <div class="container pt-xl-4 tab-pane fade show active" id="program-link-1">
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>острый <b>инфаркт миокарда;</b></li>
                    <li><b>операции на сердце</b> и магистральных сосудах;</li>
                    <li><b>ишемическая болезнь</b> сердца, в том числе нестабильная <b>стенокардия;</b></li>
                    <li><b>миокардиодистрофия;</b></li>
                </ul>
            </div>
            <div class="col-lg-12 mt-4 mt-lg-0">
                <ul>
                    <li><b>гипертоническая болезнь;</b></li>
                    <li>артериальная симптоматическая <b>гипертензия;</b></li>
                    <li><b>нейроциркуляторная дистония</b> и другие сердечно-сосудистые заболевания.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container pt-xl-4 tab-pane fade" id="program-link-2">
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>острый <b>инфаркт миокарда;</b></li>
                    <li><b>операции на сердце</b> и магистральных сосудах;</li>
                    <li><b>ишемическая болезнь</b> сердца, в том числе нестабильная <b>стенокардия;</b></li>
                    <li><b>миокардиодистрофия;</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-white pt-5 pb-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-24">
               <p> Отделение кардиологической реабилитации, в том числе ранней, больных, перенесших острый инфаркт
                   миокарда, нестабильную стенокардию, операции на сердце и магистральных сосудах (кардиологическое
                   отделение) функционирует в круглосуточном режиме, имеется блок интенсивной терапии. Кадры имеют
                   специальную подготовку и опыт работы в кардиологическом отделении и в реанимационном блоке.
               </p>
                <div class="info-items mt-5">
                    <div class="info-item">
                        <div class="info-item__icon icon-notifications-button"></div>
                        <div class="info-item__title"><b>Кнопка экстренного </b> <br> вызова персонала <br> в номере</div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-star"></div>
                        <div class="info-item__title">Современные методики   <br><b>реабилитации</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-bowl-with-vegetables"></div>
                        <div class="info-item__title"><b> Специалисты</b>по сердцу <br> и его заболеваниям</div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-cloud"></div>
                        <div class="info-item__title"><b>Климатолечение</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-white procedure-container">
    <div class="circle-13 circle">
        <img src="images/ellipse-4.png" alt="">
    </div>
    <div class="circle-15 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1">
                    Виды <span>и наименование процедур</span>
                </div>
                <div class="procedure-table__container">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#pills-home" role="tab">12 дней</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pills-profile" role="tab">14 дней</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pills-contact" role="tab">21 день</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home">
                            <div class="procedure-table__tr">
                                <div class="procedure-table__th">№ п\п</div>
                                <div class="procedure-table__th">Виды и наименование процедур</div>
                                <div class="procedure-table__th">Количество процедур</div>
                            </div>
                            <div class="procedure-table__tr">
                                <div class="procedure-table__td">1</div>
                                <div class="procedure-table__td">Прием врача первичный</div>
                                <div class="procedure-table__td">1</div>
                            </div>
                            <div class="procedure-table__tr">
                                <div class="procedure-table__td">2</div>
                                <div class="procedure-table__td">Лекарственное обеспечение (фармпрепараты и медспецматериалы) и лечебные процедуры сторонних организаций</div>
                                <div class="procedure-table__td">3</div>
                            </div>
                            <div class="procedure-table__tr">
                                <div class="procedure-table__td"></div>
                                <div class="procedure-table__td procedure-table__td-circle">суточное мониторирование АД</div>
                                <div class="procedure-table__td">3</div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile">.2..</div>
                        <div class="tab-pane fade" id="pills-contact">.3..</div>
                    </div>
                </div>
                <div class="warning-info h3 mb-0 mt-4 pl-0 fs-16">
                    Примечание: <span>при наличии противопоказаний проводится коррекция перечня лечебно-диагностических процедур.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-white">
    <div class="circle-6 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="circle-16 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1">
                    Стоимость лечения <br> <span> по программе</span>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="collapse-link" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                <div class="h2"> Сердечно-сосудистые <span>заболевания</span></div>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="category-container__table">
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-th">
                                                        <span>
                                                            Номер
                                                        </span>
                                        </div>
                                        <div class="category-table-date">
                                            <div class="category-container__table-hidden">
                                                <div class="category-container__table-height">
                                                    <div class="category-container__table-th wrapAll active" data-date="date-1">
                                                                    <span>
                                                                       c 10.01.19-10.03.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-2">
                                                                    <span>
                                                                      c  11.03.19-02.06.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-3">
                                                                    <span>
                                                                    c 03.06.19-01.09.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-4">
                                                                    <span>
                                                                    c 02.09.19-03.11.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-5">
                                                                    <span>
                                                                    c 04.11.19-09.01.20
                                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-container__table-th active-element">
                                                            <span id="table-date2">
                                                                <span>
                                                                02.09.19-03.11.19
                                                                </span>
                                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                         Двухместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                        Двухместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <div class="collapse-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseOne">
                                <div class="h2"> Сопровождающий <span>кардиологического пациента</span>
                                </div>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="category-container__table">
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-th">
                                                        <span>
                                                            Номер
                                                        </span>
                                        </div>
                                        <div class="category-table-date">
                                            <div class="category-container__table-hidden">
                                                <div class="category-container__table-height">
                                                    <div class="category-container__table-th wrapAll active" data-date="date-1">
                                                                    <span>
                                                                       c 10.01.19-10.03.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-2">
                                                                    <span>
                                                                      c  11.03.19-02.06.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-3">
                                                                    <span>
                                                                    c 03.06.19-01.09.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-4">
                                                                    <span>
                                                                    c 02.09.19-03.11.19
                                                                    </span>
                                                    </div>
                                                    <div class="category-container__table-th wrapAll" data-date="date-5">
                                                                    <span>
                                                                    c 04.11.19-09.01.20
                                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-container__table-th active-element">
                                                            <span id="table-date">
                                                                <span>
                                                                02.09.19-03.11.19
                                                                </span>
                                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3650 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3750 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                         Двухместный 2К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                           Одноместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                    <div class="category-container__table-tr">
                                        <div class="category-container__table-td">
                                                        <span class="numb">
                                                        Двухместный 1К
                                                        </span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-1">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-2">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td" data-date_price="date-3">
                                            <span class="numb">3550 руб.</span></div>
                                        <div class="category-container__table-td active" data-date_price="date-4"><span class="numb">3550 руб.</span>
                                        </div>
                                        <div class="category-container__table-td" data-date_price="date-5">
                                            <span class="numb">3550 руб.</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-7 col-md-8">
                <a href="#" class="btn btn-green">Заказать путевку</a>
            </div>
            <div class="col-lg-7 col-md-8 mt-4 mt-md-0">
                <a href="#" class="btn btn-blue">Задать вопрос</a>
            </div>
        </div>
    </div>
</div>
<div class="container-white accommodation-section">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1 pt-3">Проживание <span>для программы "Лечение сердца"</span></div>
                <div class="number-items">
                    <span class="number-item__default">
                        <span> Одноместный 2К</span>
                    </span>
                    <div class="number-items__container-hid">
                        <ul class="number-items number-items__slider number-items__container" id="number-tab">
                            <li class="nav-item">
                                <a href="#number-item-1" class="number-item active" id="number-item-1-tab"
                                   data-toggle="pill">
                                    Одноместный 2К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-2" class="number-item" id="number-item-2-tab"
                                   data-toggle="pill">
                                    Двухместный 2К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-3" class="number-item" id="number-item-3-tab"
                                   data-toggle="pill">
                                    Одноместный 1К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-4" class="number-item" id="number-item-4-tab"
                                   data-toggle="pill">
                                    Двухместный 1К
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#number-item-5" class="number-item" id="number-item-5-tab"
                                   data-toggle="pill">
                                    Двухместный двухкомнатный 1К
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="number-tabContent">
                    <div class="row tab-pane fade show active" id="number-item-1">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-1">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-2">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-3">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-3">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-2">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-4">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-4">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="number-item-5">
                        <div class="col-lg-11 col-md-12 flex justify-content-center justify-content-md-start align-items-start">
                            <div class="number-slider">
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                                <a href="images/main-left.jpg" data-fancybox="images-5">
                                    <img src="images/main-left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-13 col-md-12">
                            <h2>Двухместный 1К</h2>
                            <div class="cardiology-price__container">
                                <div class="cardiology-price__title">Цены:</div>
                                <div class="cardiology-price__item">
                                    <span>1 чел. в номере</span>
                                    <span>от
                                    <span class="fw-900">6 200 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Одно место в номере</span>
                                    <span>от
                                    <span class="fw-900">3 550 руб./сутки</span>
                                </span>
                                </div>
                                <div class="cardiology-price__item">
                                    <span>Доп. место (реб.)</span>
                                    <span>от
                                    <span class="fw-900">854 руб./сутки</span>
                                </span>
                                </div>
                            </div>
                            <div class="checkout-time">
                                Расчетный час в санатории – <span class="pl-2 fw-900"> 8:00</span>
                            </div>
                            <div class="pay-container">
                                <div class="pay-title">Варианты оплаты:</div>
                                <div class="pay-items">
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-icon-2"></div>
                                        <div class="pay-item__title">Наличными при заезде</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-cards-payment"></div>
                                        <div class="pay-item__title">Пластиковой картой</div>
                                    </div>
                                    <div class="pay-item">
                                        <div class="pay-item__icon icon-credit-card-and-machine"></div>
                                        <div class="pay-item__title">На расчетный счет санатория</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-green width-fit mt-4">Забронировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-white container-number pt-lg-4 pb-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <h2>В номере:</h2>
                <div class="facilities-items">
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-shower"></div>
                        <div class="facilities-item__title">Душ, туалет</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-air-conditioner"></div>
                        <div class="facilities-item__title">Кондиционер</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-fridge"></div>
                        <div class="facilities-item__title">Холодильник</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-balcony"></div>
                        <div class="facilities-item__title">Балкон</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-tv"></div>
                        <div class="facilities-item__title">Телевизор</div>
                    </div>
                    <div class="facilities-item">
                        <div class="facilities-item__icon icon-old-typical-phone"></div>
                        <div class="facilities-item__title">Экстренный вызов</div>
                    </div>
                </div>
            </div>
            <div class="col-24">
                <p>Небольшой текст описание номера, чем он еще оснащен, какой вид ,к акой сервис, как часто его
                    убирают Небольшой текст описание номера, чем он еще оснащен, какой вид ,к акой сервис, как
                    часто его убирают Небольшой текст описание номера, чем он еще оснащен, какой вид ,к акой
                    сервис, как часто его убирают Небольшой текст описание номера, чем он еще оснащен, какой вид
                    ,к акой сервис, как часто его убирают</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-24">
                <div class="h1"><span>Вам будет </span>интересно:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-doctor-2"></div>
                    <div class="interesting-item__title">Медицинские услуги санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>
