@@include('../layout/bread.html')
<div class="program-container">
    <div class="circle-5 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <h1>
                    Программы лечения  <span>в санатории</span>
                </h1>
                <div class="h2">
                    <span>Программы по лечению</span> заболеваний сердца:
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="#" class="program-item">
                    <span class="program-item__top">
                        <span class="program-item__day">
                            <span class="program-item__day-number">12</span>
                            <span class="program-item__day-text">дней</span>
                        </span>
                        <span class="program-item__title">"Сердечно-сосудистые  заболевания"</span>
                    </span>
                    <span class="btn program-item__btn">Подробнее</span>
                    <span class="program-item__price">от 3 550 <br> Р/сутки</span>
                </a>
            </div>
            <div class="col-lg-12">
                <a href="#" class="program-item">
                    <span class="program-item__top">
                        <span class="program-item__day">
                            <span class="program-item__day-number">12</span>
                            <span class="program-item__day-text">дней</span>
                        </span>
                        <span class="program-item__title">"Программа реабилитация  постинсультных больных"</span>
                    </span>
                    <span class="btn program-item__btn">Подробнее</span>
                    <span class="program-item__price">от 3 550 <br> Р/сутки</span>
                </a>
            </div>
            <div class="col-lg-12">
                <a href="#" class="program-item">
                    <span class="program-item__top">
                        <span class="program-item__day">
                            <span class="program-item__day-number">12</span>
                            <span class="program-item__day-text">дней</span>
                        </span>
                        <span class="program-item__title">Кардиодиагностика  (5-ти дневная  оздоровительная программа)</span>
                    </span>
                    <span class="btn program-item__btn">Подробнее</span>
                    <span class="program-item__price">от 3 550 <br> Р/сутки</span>
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-24">
                <h2>
                    <span>Программы по лечению заболеваний в </span> общей терапии: <span> ЖКТ, костно-мышечная система,
урология, геникология, щитовидная железа, очищение организма:
                    </span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="#" class="program-item">
                    <span class="program-item__top">
                        <span class="program-item__day">
                            <span class="program-item__day-number">12</span>
                            <span class="program-item__day-text">дней</span>
                        </span>
                        <span class="program-item__title">"Сердечно-сосудистые  заболевания"</span>
                    </span>
                    <span class="btn program-item__btn">Подробнее</span>
                    <span class="program-item__price">от 3 550 <br> Р/сутки</span>
                </a>
            </div>
            <div class="col-lg-12">
                <a href="#" class="program-item">
                    <span class="program-item__top">
                        <span class="program-item__day">
                            <span class="program-item__day-number">12</span>
                            <span class="program-item__day-text">дней</span>
                        </span>
                        <span class="program-item__title">"Программа реабилитация  постинсультных больных"</span>
                    </span>
                    <span class="btn program-item__btn">Подробнее</span>
                    <span class="program-item__price">от 3 550 <br> Р/сутки</span>
                </a>
            </div>
            <div class="col-lg-12">
                <a href="#" class="program-item">
                    <span class="program-item__top">
                        <span class="program-item__day">
                            <span class="program-item__day-number">12</span>
                            <span class="program-item__day-text">дней</span>
                        </span>
                        <span class="program-item__title">Кардиодиагностика  (5-ти дневная  оздоровительная программа)</span>
                    </span>
                    <span class="btn program-item__btn">Подробнее</span>
                    <span class="program-item__price">от 3 550 <br> Р/сутки</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container pb-lg-5">
        <div class="row">
            <div class="col-24">
                <div class="h1"><span>Вам будет </span>интересно:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-doctor-2"></div>
                    <div class="interesting-item__title">Медицинские услуги санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>