@@include('../layout/bread.html')
<div class="question-container">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-10 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        @@include('../layout/question.html')
    </div>
</div>
<div class="interesting-container container-white">
    <div class="circle-12 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    @@include('../layout/interesting.html')
</div>
