@@include('../layout/bread.html')
<div class="relax-container">
    <div class="container mt-50">
        <div class="row">
            <div class="col-lg-10 pr-lg-5">
                @@include('../layout/sidebar.html')
                <a href="#" class="advertising-item mt-50">
                    <div class="advertising-item__pic">
                        <img src="images/advesting.jpg" alt="">
                    </div>
                    <div class="advertising-item__content">
                        <div class="advertising-item__top">
                            <div class="advertising-item__number">-5%</div>
                            <div class="advertising-item__title">Скидка при двухместном размещении</div>
                        </div>
                        <div class="btn btn-green">Подробнее</div>
                        <div class="advertising-item__date">
                            с 1 мая<br> по 12 мая
                        </div>
                    </div>
                </a>
                <a href="#" class="payment-container mt-4">
                    <span class="payment-top">
                        Закажите
                    </span>
                    <span class="payment-content">
                        просчет стоимости путевки <br> через сайт
                    </span>
                    <span class="btn btn-green">
                        Заказать просчет
                    </span>
                </a>
            </div>
            <div class="col-lg-14 mt-5 mt-lg-0">
                <h1 class="mt-0"> Отдых <span>в санатории <br> Лесная Поляна</span></h1>
                <p>
                    Для комфортного от процедур времяпровождения в санатории вы можете воспользоваться услугами
                    развлекательного характера
                </p>
                @@include('../layout/entertaiments.html')
            </div>
        </div>
    </div>
</div>

<div class="pic-four__container container-white">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-14">
                <div class="h1">Досуг <span>в санатории</span></div>
                <div class="gallery-items gallery-items__four">
                    <a href="images/gallery-1.jpg" data-fancybox="images">
                        <img src="images/gallery-1.jpg" alt="">
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images">
                        <img src="images/gallery-2.jpg" alt="">
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images">
                        <img src="images/gallery-3.jpg" alt="">
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images">
                        <img src="images/gallery-4.jpg" alt="">
                    </a>
                </div>
                <div class="flex justify-content-center btn-minus">
                    <a href="#" class="btn btn-green">Больше фото</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-white">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-14">
                <div class="content-minus">
                    Для любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату организует
                    поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников культуры
                </div>

            </div>
        </div>

    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-24">
                <div class="h1"><span>Вам будет </span>интересно:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="interesting-item" >
                    <div class="interesting-item__icon icon-doctor-2"></div>
                    <div class="interesting-item__title">Медицинские услуги санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" >
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>