@@include('../layout/bread.html')
<div class="reviews-container">
    <div class="circle-5 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-10 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-14">
                <h1>
                    Самые важные мнения <br> <span> - это мнения  гостей</span>
                </h1>
                <div class="reviews-item">
                    <div class="reviews-item__top">
                        <div class="reviews-item__pic">
                            <img src="images/reviews.jpg" alt="">
                        </div>
                        <div class="reviews-item__info">
                            <div class="name">Иванова Иван Иванович</div>
                            <div class="place">г. Москва <br> Отдыхал и лечился в кардиологическом отделении</div>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc
                        eget.
                    </p>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__top">
                        <div class="reviews-item__pic">
                            <img src="images/reviews.jpg" alt="">
                        </div>
                        <div class="reviews-item__info">
                            <div class="name">Иванова Иван Иванович</div>
                            <div class="place">г. Москва <br> Отдыхал и лечился в кардиологическом отделении</div>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc
                        eget.
                    </p>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__top">
                        <div class="reviews-item__pic">
                            <img src="images/reviews.jpg" alt="">
                        </div>
                        <div class="reviews-item__info">
                            <div class="name">Иванова Иван Иванович</div>
                            <div class="place">г. Москва <br> Отдыхал и лечился в кардиологическом отделении</div>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc
                        eget.
                    </p>
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link page-link__prev" href="#"></a></li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link page-link__next" href="#"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-10 mt-5 mt-lg-0">
                <form action="#" class="question-form">
                    <div class="h1 question-form__title">
                        <div class="question-form__icon__container">
                            <div class="question-form__icon">

                            </div>
                        </div>

                        <div>
                            Оставьте ваш отзыв, <span> <br>  нам важно каждое  мнение</span>
                        </div>
                    </div>
                    <div class="cost-form__item">
                        <label for="name2" class="cost-form__item-label">Ваше имя:</label>
                        <input type="text" placeholder="Имя" id="name2" class="cost-form__item-name">
                    </div>
                    <div class="cost-form__item">
                        <label for="email2" class="cost-form__item-label">Ваш email:</label>
                        <input type="email" placeholder="Почта" id="email2" class="cost-form__item-name">
                    </div>
                    <div class="cost-form__item">
                        <label for="city" class="cost-form__item-label">Ваш город:</label>
                        <input type="text" placeholder="Город" id="city" class="cost-form__item-name">
                    </div>
                    <div class="cost-form__item">
                        <label for="selects" class="cost-form__item-label">Выберите отделение:</label>
                        <select id="selects">
                            <option value="Спинальное">Спинальное</option>
                            <option value="Спинальное">Спинальное 2</option>
                            <option value="Спинальное">Спинальное 3</option>
                            <option value="Спинальное">Спинальное 4</option>
                            <option value="Спинальное">Спинальное 5</option>
                            <option value="Спинальное">Спинальное 6</option>
                        </select>
                    </div>
                    <div class="cost-form__item">
                        <label for="message2" class="cost-form__item-label">Ваш отзыв:</label>
                        <textarea id="message2" class="cost-form__textarea cost-form__textarea-right" placeholder="Отзыв"></textarea>
                    </div>
                    <div class="btn btn-green cost-form__line-submit">
                        Отправить
                        <input type="submit" class="" value="">
                    </div>
                    <div class="cost-form__line-check-item mt-4 text-gray justify-content-center">
                        <div class="cost-form__check-item">
                            <input type="checkbox" class="check" id="target-8" checked>
                            <span class="check-before"></span>
                        </div>
                        <label for="target-8">Я даю согласие на обработку <br> моих персональных данных.</label>
                    </div>
                </form>
            </div>
            <div class="col-24">
                <div class="h2 text-center mt-5">
                    Наши преимущества
                </div>
                <div class="info-items">
                    <div class="info-item">
                        <div class="info-item__icon icon-disabled"></div>
                        <div class="info-item__title"><b>Безбарьерная</b> <br>   среда</div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-doctor"></div>
                        <div class="info-item__title">Врачи высшей <br> категории <br> и <b>кандидаты наук</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-bowl-with-vegetables"></div>
                        <div class="info-item__title">Специальное <br> <b> диетическое <br> питание</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-swimming-silhouette"></div>
                        <div class="info-item__title"><b>Бассейн <br> 30 метров</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-park"></div>
                        <div class="info-item__title">Удобное расположение <br> и <b>парковая зона</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-icon"></div>
                        <div class="info-item__title">Трансфер <br> и <b>спецтранспорт</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-droplet-of-water"></div>
                        <div class="info-item__title">Бювет с <b> минеральной <br> водой</b></div>
                    </div>
                    <div class="info-item">
                        <div class="info-item__icon icon-wifi-signal"></div>
                        <div class="info-item__title"><b>WI-FI</b> <br> на территории</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="interesting-container container-white mt-0">
    <div class="circle-12 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1"><span>Вам будет </span>интересно:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-doctor-2"></div>
                    <div class="interesting-item__title">Медицинские услуги санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item" style="height: 84.7813px;">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
        </div>
    </div>
</div>