@@include('../layout/bread.html')
<div class="container">
    <div class="row">
        <div class="col-24">
            <h1>Акции<span> нашего санатория</span></h1>
        </div>
    </div>
</div>
<div class="stock-items container-white">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-10 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="circle-11 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="stock-items__container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="advertising-item">
                        <div class="advertising-item__pic">
                            <img src="images/advesting.jpg" alt="">
                        </div>
                        <div class="advertising-item__content">
                            <div class="advertising-item__top">
                                <div class="advertising-item__number">-5%</div>
                                <div class="advertising-item__title">Скидка при двухместном размещении</div>
                            </div>
                            <a href="#" class="btn btn-green">Подробнее</a>
                            <div class="advertising-item__date">
                                с 1 мая<br> по 12 мая
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="advertising-item">
                        <div class="advertising-item__pic">
                            <img src="images/advesting.jpg" alt="">
                        </div>
                        <div class="advertising-item__content">
                            <div class="advertising-item__top">
                                <div class="advertising-item__number">-5%</div>
                                <div class="advertising-item__title">Скидка при двухместном размещении</div>
                            </div>
                            <a href="#" class="btn btn-green">Подробнее</a>
                            <div class="advertising-item__date">
                                с 1 мая<br> по 12 мая
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="advertising-item">
                        <div class="advertising-item__pic">
                            <img src="images/advesting.jpg" alt="">
                        </div>
                        <div class="advertising-item__content">
                            <div class="advertising-item__top">
                                <div class="advertising-item__number">-5%</div>
                                <div class="advertising-item__title">Скидка при двухместном размещении</div>
                            </div>
                            <a href="#" class="btn btn-green">Подробнее</a>
                            <div class="advertising-item__date">
                                с 1 мая<br> по 12 мая
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="advertising-item">
                        <div class="advertising-item__pic">
                            <img src="images/advesting.jpg" alt="">
                        </div>
                        <div class="advertising-item__content">
                            <div class="advertising-item__top">
                                <div class="advertising-item__number">-5%</div>
                                <div class="advertising-item__title">Скидка при двухместном размещении</div>
                            </div>
                            <a href="#" class="btn btn-green">Подробнее</a>
                            <div class="advertising-item__date">
                                с 1 мая<br> по 12 мая
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>