@@include('../layout/bread.html')
<div class="stock-detail__container mt-50">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-10 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="circle-11 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-24">
                <h1 class="mb-0 title-mobile mb-3">-5% скидка <br>
                    <span>при двухместном  размещении!</span>
                </h1>
            </div>
            <div class="col-lg-11 col-md-10 flex justify-content-center justify-content-md-start align-items-start">
                <a href="images/main-left.jpg" class="stock-pic" data-fancybox="images">
                    <img src="images/main-left.jpg" alt="">
                    <div class="stock-circle">
                        с 31 сентября <br> по 31 сентября
                    </div>
                </a>
            </div>
            <div class="col-lg-13 col-md-14">
                <h1 class="mb-0 title-desctop">-5% скидка <br>
                    <span>при двухместном  размещении!</span>
                </h1>
            </div>
            <div class="col-24 mt-50">
                <p>Для любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату организует
                    поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников культуры Для
                    любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату организует
                    поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников культуры Для
                    любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату организует
                    поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников культуры Для
                    любителей активного отдыха Пятигорское экскурсионное бюро за дополнительную оплату организует
                    поездки по городам-курортам Кавказских Минеральных Вод с посещением памятников культуры</p>
            </div>
        </div>
    </div>
</div>