@@include('../layout/bread.html')
<div class="relax-container">
    <div class="circle-5 circle">
        <img src="images/ellipse-5.png" alt="">
    </div>
    <div class="circle-6 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="container mt-50">
        <div class="row">
            <div class="col-lg-10 pr-lg-5">
                @@include('../layout/sidebar.html')
                <a href="#" class="advertising-item mt-50">
                    <div class="advertising-item__pic">
                        <img src="images/advesting.jpg" alt="">
                    </div>
                    <div class="advertising-item__content">
                        <div class="advertising-item__top">
                            <div class="advertising-item__number">-5%</div>
                            <div class="advertising-item__title">Скидка при двухместном размещении</div>
                        </div>
                        <div class="btn btn-green">Подробнее</div>
                        <div class="advertising-item__date">
                            с 1 мая<br> по 12 мая
                        </div>
                    </div>
                </a>
                <a href="#" class="payment-container mt-4">
                    <span class="payment-top">
                        Закажите
                    </span>
                    <span class="payment-content">
                        просчет стоимости путевки <br> через сайт
                    </span>
                    <span class="btn btn-green">
                        Заказать просчет
                    </span>
                </a>
            </div>
            <div class="col-lg-14 mt-5 mt-lg-0">
                <h1 class="mt-0">Медицинская <br> <span>база санатория</span></h1>
                <p>
                    Среди множества преимуществ санатория, важнейшим фактором является эффективность лечения.
                </p>
                <p>
                    Современная материально-техническая база, состоящая из нового немецкого оборудования и штат
                    профессиональных медицинских специалистов позволяют проводить точную диагностику, лечение и
                    профилактику широкого спектра заболеваний.
                </p>
                <p>
                    Лечение в санатории сочетает методы классической медикаментозной и физиоаппаратной медицины с
                    рекреационными процедурами: бальнео-, климато-
                    и грязелечением, иммунологической коррекцией, лечебным массажем, курсами питья минеральных вод и
                    прогулками по терренкурам. Эффективность лечения болезни зависит, в первую очередь, от качества
                    диагностики и точности поставленного диагноза. В санатории используются только передовые
                    клинико-лабораторные исследования. Первичный приём и консультации отдыхающих проводят терапевт,
                    гастроэнтеролог и врач-диетолог.
                </p>
                <p>
                    При наличии показаний клиента консультируют врачи-специалисты: <b>гинеколог, эндокринолог, уролог,
                    кардиолог, отоларинголог, дерматолог и невролог.</b>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="pic-four__container container-white">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-14">
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li><b>Лаборатория:</b> клиническая, биохимическая, молекулярная.</li>
                            <li>Электрокардиограмма <b>(ЭКГ).</b></li>
                            <li>Реоэнцефалография сосудов головного мозга <b>(РЭГ).</b></li>
                            <li>Эхоэнцефалография головного мозга <b>(ЭЭГ).</b></li>
                            <li>Реовазография верхних и нижних конечностей <b>(РВГ).</b></li>
                            <li>Ультразвуковое исследование <b>(УЗИ).</b></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 mt-4 mt-lg-0">
                        <ul>
                            <li><b> Дуплексное сканирование </b>сосудов.</li>
                            <li><b>Эхокардиография.</b></li>
                            <li>Эзофагогастродуоденоскопия <b>(ЭФГДС).</b></li>
                            <li><b>Ректороманоскопия.</b></li>
                            <li><b>Биоимпедансометрия.</b></li>
                            <li><b>Цистоскопия.</b></li>
                            <li><b>Кольпоскопия.</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-white">
    <div class="circle-9 circle">
        <img src="images/ellipse-9.png" alt="">
    </div>
    <div class="circle-10 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-14">
                <div class="gallery-items gallery-items__four mt-0">
                    <a href="images/gallery-1.jpg" data-fancybox="images">
                        <img src="images/gallery-1.jpg" alt="">
                    </a>
                    <a href="images/gallery-2.jpg" data-fancybox="images">
                        <img src="images/gallery-2.jpg" alt="">
                    </a>
                    <a href="images/gallery-3.jpg" data-fancybox="images">
                        <img src="images/gallery-3.jpg" alt="">
                    </a>
                    <a href="images/gallery-4.jpg" data-fancybox="images">
                        <img src="images/gallery-4.jpg" alt="">
                    </a>
                </div>
                <div class="flex justify-content-center mt-5">
                    <a href="#" class="btn btn-green">Больше фото</a>
                </div>
            </div>
            <div class="col-24 mt-4">
                <div class="h1"><span>Вам будет </span>интересно:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-doctor-2"></div>
                    <div class="interesting-item__title">Медицинские услуги санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база санатория</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="callback-container container-white">
    <div class="circle-2 circle">
        <img src="images/ellipse-2.png" alt="">
    </div>
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                @@include('../layout/callback.html')
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>