@@include('../layout/bread.html')
<div class="treatment-container" style="background-image: url('images/face.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 offset-lg-12">
                <h1>
                    С заботой <span>о вашем  здоровье</span>
                </h1>
                <h2>
                    В санатории функционируют следующие медицинские отделения:
                </h2>
                <div class="branches-container">
                    <div class="branches-item">
                        <div class="branches-item__icon icon-brain-1"></div>
                        <div class="branches-item__title">
                            Отделение для больных с заболеваниями <b>центральной
                            и периферической нервной системы</b>
                        </div>
                    </div>
                    <div class="branches-item">
                        <div class="branches-item__icon icon-heartbeat2"></div>
                        <div class="branches-item__title">
                            <b>Отделение сердечно-сосудистых заболеваний</b>
                        </div>
                    </div>
                    <div class="branches-item">
                        <div class="branches-item__icon icon-spine"></div>
                        <div class="branches-item__title">
                            <b>Отделение восстановительного лечения</b> принимает на лечение
                            с заболеваниями опорно-двигательного аппарата
                        </div>
                    </div>
                    <div class="branches-item">
                        <div class="branches-item__icon icon-user-md-symbol"></div>
                        <div class="branches-item__title">
                            <b>Отделение диагностики и общей терапии</b>, принимает на лечение
                            с заболеваниями ЖКТ, костно-мышечной системы, заболеваний щитовидной железы,
                            геникологический и урологический профиль.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profiles-container profiles-container__white pb-0 container-white">
    <div class="circle-3 circle">
        <img src="images/ellipse-3.png" alt="">
    </div>
    <div class="circle-1 circle">
        <img src="images/ellipse-1.png" alt="">
    </div>
    <div class="circle-6 circle">
        <img src="images/ellipse-6.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1">Все профили <span>лечения:</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-intestine"></div>
                    <div class="interesting-item__title">Лечение ЖКТ</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-heartbeat2"></div>
                    <div class="interesting-item__title">Лечение заболеваний сердца</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-brain-1"></div>
                    <div class="interesting-item__title">Лечение сосудов головного мозга</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-brain-and-head"></div>
                    <div class="interesting-item__title">Заболевания и травмы центральной и периферической
                        нервной системы
                    </div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-family-group"></div>
                    <div class="interesting-item__title">Реабилитация детей с ДЦП</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-girl"></div>
                    <div class="interesting-item__title">Лечение гинекологических заболеваний</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-standing-up-man"></div>
                    <div class="interesting-item__title">Лечение урологических заболеваний</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-spine"></div>
                    <div class="interesting-item__title">Лечение опорно-двигательного аппарата</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-thyroid-gland"></div>
                    <div class="interesting-item__title">Лечение эдокринологических заболеваний</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-drugs"></div>
                    <div class="interesting-item__title">Очищение организма</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="profiles-container container-white mt-0">
    <div class="circle-8 circle">
        <img src="images/ellipse-8.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="h1">Лечение <span>в санатории Лесная поляна</span></div>
                <p>
                    Санаторий входит во Всероссийский перечень здравниц для реабилитации лиц, пострадавших от травм на
                    производстве и профессиональных заболеваний. В нашем центре и отделениях восстановительной медицины
                    работают исключительно высококлассные специалисты, которые отнесутся к Вашему лечению со всей душой!
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-docs"></div>
                    <div class="interesting-item__title">Программы лечения</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-hotel-with-three-floors"></div>
                    <div class="interesting-item__title">Медицинская база  санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-checked-symbol"></div>
                    <div class="interesting-item__title">Показания</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-icon-3"></div>
                    <div class="interesting-item__title">Противопоказания</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-list"></div>
                    <div class="interesting-item__title">Медицинские услуги  санатория</div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="#" class="interesting-item">
                    <div class="interesting-item__icon icon-doctor-3"></div>
                    <div class="interesting-item__title">Диагностика в санатории</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mb-4__none"></div>