.breadcrumb{
  display: flex;
  align-items: center;
  list-style: none;
}

.breadcrumb-item{
  font-size: 0.875rem;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  &:before{
    content: none !important;
  }
  a{
    color: $gray-light;
    display: flex;
    align-items: center;
    &:after{
      content: '/';
      margin: 0 .4rem;
    }
  }
}