.btn{
  height: 4.063rem;
  border-radius:  2.063rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  font-weight: 700;
  color: white;
  font-size: 1.375rem;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
}

.btn-green{
  background-color: #31c6f0;
  background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  &:hover{
    color: white;
  }
  &:before{
    position: absolute;
    display: block;
    top: 0;
    left: -75%;
    z-index: 2;
    height: 100%;
    width: 50%;
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
  }
  &:hover{
    &:before{
      animation: shine .85s;
    }
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.btn-blue{
  background-color: #31c6f0;
  &:hover{
    color: white;
  }
  &:before{
    position: absolute;
    display: block;
    top: 0;
    left: -75%;
    z-index: 2;
    height: 100%;
    width: 50%;
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
  }
  &:hover{
    &:before{
      animation: shine .85s;
    }
  }
}