
// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:     14px !default;
$font-size-root-sm:  16px !default;
$font-size-root-md:  16px !default;
$font-size-root-lg:  16px !default;
$font-size-root-xl:  16px !default;
$font-size-rem-size: $font-size-root-xl !default;




