// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Contextual backgrounds
@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
}

// border-radius
@mixin border-radius($radius: $border-radius) {
  border-radius: $radius;

}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// WebKit-style focus
@mixin tab-focus() {
  outline: 0;
}

// Typography
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color;
  }
}
// Text truncate
// Requires inline-block or block for proper styling

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@function calculateRem($size) {
  $remSize: $size / $font-size-rem-size;
  //Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}
@mixin font-size($size) {
  font-size: calculateRem($size);
}

@import "mixins/breakpoints";
@import "mixins/buttons";
@import "mixins/gradients";
@import "mixins/grid-framework";
@import "mixins/grid";
@import "mixins/float";
