// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

.tours-modal{
  .modal-dialog{
    width: 1154px;
    max-width: 1154px;
  }
  .modal-content{
    width: 100%;
    padding: 52px 77px 0;
  }
  .slick-prev{
    left: -40px;
  }
  .slick-next{
    right: -40px;
  }
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  // When fading in the modal, animate it to slide down
  .modal-dialog {
    transition: all .3s ease-out 0s;
    transform: translate(0, -25%);
  }
  &.show .modal-dialog { transform: translate(0, 0); }
}
.modal-open .modal.show {
  overflow-x: hidden;
  overflow-y: auto;
}

#callback{
  .modal-dialog{
    padding-top: 0;
    margin: 50px auto 0 !important;
  }
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 100px auto 0 !important;
  padding-top: 100px;
}

// Actual modal
.modal-content {
  position: relative;
  flex-direction: column;
  padding: 1.75rem;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  // Remove focus outline from opened modal
  outline: 0;
  .question-form__title{
    font-size: 45px;
    text-align: center;
    justify-content: center;
    &:before{
      content: '\e94b';
      width: 63px;
      height: 63px;
      background-color: white;
      box-shadow: 4.1px 8px 17px rgba(0, 0, 0, 0.11);
      border-radius: 50%;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'icomoon';
      font-size: 2rem;
      color: $green;
    }
  }
}

.modal-info{
  font-size: 26px;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}

.modal-form{
  max-width: 370px;
  margin: 0 auto;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: white;

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.show { opacity: .9 !important; }
}

.close{
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 1.5rem !important;
  opacity: 1 !important;
  span{
    color: #3a3f5c;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: $modal-header-padding;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
}

// Title text within header
.modal-title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when should there be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  display: flex;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  padding: $modal-inner-padding;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;

  // Easily place margin between footer elements
  > :not(:first-child) { margin-left: .25rem; }
  > :not(:last-child) { margin-right: .25rem; }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: 600px;
    margin: $modal-dialog-sm-up-margin-y auto;
  }

  .modal-content {
    @include box-shadow($modal-content-sm-up-box-shadow);
  }

  .modal-sm { max-width: $modal-sm; }
}

@include media-breakpoint-up(lg) {
  .modal-lg { max-width: $modal-lg; }
}
