h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 900;
  span{
    font-weight: 300;
  }
}

.h1, h1 {
  font-size: 1.813rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
}

.h2, h2 {
  font-size: 1.625rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
}

.h3, h3 {
  font-size: 1.375rem;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
}

.h4, h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 3.5rem;
}

hr {
  margin: 0;
  border: 0;
}

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

.list-unstyled {
  @include list-unstyled;
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.content {
  p {
    margin-bottom: 1rem;
    max-width: 100%;
  }
  ol, ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}

.fs-14{
  font-size: 0.875rem;
}