.contact-marketing{
  background-color: #f3f3f3;
  margin-top: -27px;
}

.marketing-title{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  &:before{
    display: flex;
    width: 4.063rem;
    height: 4.063rem;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4.1px 8px 17px rgba(0, 0, 0, .11);
    align-items: center;
    justify-content: center;
    content: '\e970';
    font-family: 'icomoon';
    font-size: 2rem;
    margin-right: 1rem;
    color: #74d272;
  }
}

.contact-line{
  display: flex;
  align-items: center;
  font-size: 1.375rem;
  margin-bottom: 0.7rem;
  &:before{
    background: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 1rem;
    font-family: 'icomoon';
    font-size: 1.5rem;
  }
  a{
    &:hover{
      color: $green;
    }
  }
}

.contact-warning{
  padding: 0;
}

.warning-info{
  padding-left: 5rem;
  &:before{
    content: '\e904';
    background: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 1rem;
    font-family: 'icomoon';
    font-size: 1.5rem;

    display: inline-block;
  }
}

.contact-phone{
  &:before{
    content: '\e94b';
  }
}

.contact-options{
  padding-left: 5rem;
}

.contact-email{
  &:before{
    content: '\e943';
  }
}

.contact-gray{
  color: #9c9c9c;
  line-height: 1.3rem;
}

.contact-time{
  &:before{
    content: '\e913';
  }
}

.question-form__contact{
  padding: 2rem 5rem;
  .cost-form__textarea-right{
    height: 144px;
  }
}

.road-container{
  padding-bottom: 18px;
}

.schedule-container{
  margin-top: 82px;
  padding-top: 60px;
}

.contact-marketing{
  padding-top: 90px;
}