footer{
  position: relative;
  z-index: 1;
}

.footer-container{
  padding: 1.75rem 0 3.6rem;
  background-color: #3a3f5c;
  img{
    box-shadow: none;
    border-radius: 0;
  }
  .header-top__link:before{
    font-size: .8rem;
  }
  .header-btn{
    margin-bottom: 1rem;
  }
  .header-top__link-booking{
    &:before {
      content: '\e94b';
    }
  }
  .header-top__link{
    color: white;
    margin-bottom: .3rem;
    &:hover{
      color: $green;
    }
  }
}

.footer-site{
  opacity: 0.3;
  color: $white;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 1.3rem 0 1.2rem;
}

.footer-warning{
  color: white;
  font-weight: 700;
  line-height: 1.3rem;
}

.footer-content{
  margin-top: 1.1rem;
  opacity: 0.3;
  color: $white;
  font-size: 0.75rem;
  line-height: 1rem;
}

.footer-menu{
  margin-bottom: 1rem;
}

.footer-menu__link{
  text-decoration: underline;
  color: $white;
  font-size: 0.875rem;
  margin-bottom: 1px;
  display: block;
  &:hover{
    color: $green;
    opacity: 1;
  }
}

.footer-menu__link-title{
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

.footer-phone{
  font-weight: 700;
  margin-left: 1rem;
  color: white;
  position: relative;
  &:before{
    position: absolute;
    font-size: .8rem;
    left: -1.3rem;
    font-family: 'icomoon';
    content: '\e94b';
    top: 2px;
  }
  &:hover{
    color: $green;
  }
}

.footer-phone__russia{
  color: white;
  margin-left: 1rem;
  margin-top: -.2rem;
  margin-bottom: .5rem;
}

.footer-phone__mobile{
  display: block;
  margin-left: 1rem;
  color: white;
  position: relative;
  margin-bottom: .4rem;
  &:before{
    position: absolute;
    font-size: 1rem;
    left: -1.4rem;
    font-family: 'icomoon';
    content: '\e934';
    top: 1px;
  }
  &:hover{
    color: $green;
  }
}

.footer-phone__whatsapp{
  display: block;
  margin-left: 1rem;
  color: white;
  position: relative;
  margin-bottom: .4rem;
  &:before{
    position: absolute;
    font-size: 1rem;
    left: -1.4rem;
    font-family: 'icomoon';
    content: '\e96e';
    top: 1px;
  }
  &:hover{
    color: $green;
  }
}

.footer-email{
  display: block;
  margin-left: 1rem;
  color: white;
  position: relative;
  margin-bottom: 1.3rem;
  word-break: break-word;
  &:before{
    position: absolute;
    font-size: 1rem;
    left: -1.4rem;
    font-family: 'icomoon';
    content: '\e943';
    top: 1px;
  }
  &:hover{
    color: $green;
  }
}

.footer-bottom{
  background-color: #2f344d;
  padding: 1.375rem 0;
  position: relative;
}

.footer-copy{
  opacity: 0.3;
  color: white;
  font-size: 0.875rem;
}

.footer-confidentiality{
  opacity: 0.3;
  color: white;
  font-size: 0.875rem;
  text-decoration: underline;
  &:hover{
    color: $green;
    opacity: 1;
  }
}

.footer-agreement{
  opacity: 0.3;
  color: white;
  font-size: 0.875rem;
  text-decoration: underline;
  &:hover{
    color: $green;
    opacity: 1;
  }
}

.development{
  opacity: 0.3;
  color: white;
  font-size: 0.875rem;
  a{
    color: white;
    &:hover{
      color: $blue;
      opacity: 1;
    }
  }
}

.arrow-top{
  display: none;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #00c7f3;
  border: 1px solid white;
  box-shadow: 6px 10.4px 24px rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: -24px;
  border-radius: 50%;
  &:before{
    content: '\e903';
    font-family: 'icomoon';
    transform: rotate(-90deg);
    color: white;
  }
}