header{
  position: relative;
  z-index: 3;
}

.header-top {
  height: 2.1rem;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
}

.header-top__link {
  position: relative;
  color: $green;
  text-decoration: underline;
  margin: 0 1rem 0 1.3rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  &:before {
    left: -1.3rem;
    position: absolute;
    font-family: 'icomoon';
    font-size: .7rem;
  }
}

.header-top__link-reviews {
  &:before {
    content: '\e95f';
  }
}

.header-top__link-question {
  &:before {
    content: '\e952';
  }
}

.header-top__link-booking{
  &:before {
    content: '\e94b';
  }
}

.header-phone {
  font-weight: 900;
  display: flex;
  align-items: center;
  margin-right: .3rem;
  &:before {
    content: '\e94b';
    font-family: 'icomoon';
    color: $green;
    margin-right: .4rem;
    font-size: .7rem;
  }
  & + span{
    letter-spacing: .3px;
  }
}

.header-container__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-slogan {
  font-size: 0.875rem;
}

.header-elements__mobile{
  display: none;
}

.header-container__btn {
  display: flex;
  align-items: center;
}

.header-container {
  padding: 0.5rem 0 0.9375rem;
  box-shadow: 2.8px 8.6px 30px rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
  z-index: 1;
}

.header-btn {
  min-width: 13.5rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  border-radius: 18px;
  font-weight: 900;
  padding: 0 0.375rem;
}

.header-logo__pic{
  box-shadow: none;
  border-radius: 0;
}

.header-btn__order {
  box-shadow: 8.2px 3.8px 17px rgba(0, 0, 0, 0.11);
  background-color: white;
  color: $blue;
  margin-right: 1rem;
  &:before {
    width: 1.75rem;
    border-radius: 50%;
    height: 1.75rem;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '\e932';
    font-family: 'icomoon';
    margin-right: .8rem;
    color: $white;
    transition: .25s;
  }
  &:hover {
    color: $white;
    background-color: $blue;
    &:before {
      background-color: $white;
      color: $blue;
    }
  }
}

.header-btn__callback {
  box-shadow: 0.8px 9px 11px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  color: $white;
  &:before {
    width: 1.75rem;
    border-radius: 50%;
    height: 1.75rem;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '\e94b';
    font-family: 'icomoon';
    margin-right: .8rem;
    color: $green;
    transition: .25s;
  }
  &:hover {
    color: $green;
    background-color: $white;
    background-image: none;
    &:before {
      background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
      color: $white;
    }
  }
}

.header-menu{
  border-top: 1px solid #e8e8e8;
  padding-top: .9rem;
  margin-top: .9rem;
}

.header-menu__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__link {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: -0.9375rem;
  padding-bottom: 0.9375rem;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    background-color: $green;
    transition: .25s;
    height: 1px;
    width: 0;
  }
  &:hover{
    color: $green;
    &:before{
      left: 10%;
      width: 80%;
    }

  }
}

.header-menu__link-drop-down{
  position: relative;
  & > a{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    &:after{
      content: '\e903';
      font-family: 'icomoon';
      transform: rotate(90deg);
      position: absolute;
      right: -1rem;
      font-weight: 400;
    }
  }
  &:hover{
   .header-submenu__container{
      display: block;
    }
  }
}

.header-menu__item{
  display: flex;
  align-items: center;
  position: relative;

  &:last-child{
    &:before{
      color: $green;
      content: '\e92c';
      font-family: 'icomoon';
      margin-right: .4rem;
    }
  }
}

.hamburger{
  width: 48px;
  height: 48px;
  background-color: #00c7f2;
  border: 1px solid white;
  box-shadow: 6px 10.4px 24px rgba(0, 0, 0, 0.08);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 50%;
  text-align: left;
  padding: 5px 12px;
  position: relative;
  z-index: 3;
}

.header-btn__container-mobile{
  display: none;
}

.hamburger .line{
  width: 22px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  display: block;
  margin: 2px 0;
  transition: all 0.3s ease-in-out;
  &:nth-child(1){
    width: 16px;
  }
}

.hamburger:hover{
  cursor: pointer;
}

.hamburger.active .line:nth-child(2){
  opacity: 0;
}

.hamburger.active .line:nth-child(1){
  width: 22px;
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active .line:nth-child(3){;
  transform: translateY(-7px) rotate(-45deg);
}

.header-submenu{
  display: flex;
  flex-direction: column;
  max-width: 1175px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .5)
}

.mobile-phone{
  display: none;
}

.header-phone__container{
  display: flex;
  align-items: center;
}

.header-submenu__container{
  position: absolute;
  top: 80%;
  padding-top: 22px;
  left: 0;
  display: none;
  width: 224px;
  min-width: 100%;
}

.header-submenu__link{
  padding: .3rem 1rem;
  font-weight: 700;
  display: block;
  font-size: 0.75rem;
  &:hover{
    color: $green;
  }
}

.header-slogan__mobile{
  display: none;
}