.slider-big{
  margin-top: -1.9rem;
  z-index: 1;
  .slick-arrow{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .h1{
    margin-top: -4rem;
  }
  .slick-list{
    padding-bottom: 20px;
  }
}

.bottom-slider{
  width: 60px;
  height: 60px;
  bottom: 25px;
  left: 50%;
  margin-left: -30px;
  background-color: $blue;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:before{
    content: '\e903';
    transform: rotate(90deg);
    font-family: 'icomoon';
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.slider-big__item{
  height: calc(100vh - 155px);
  background-repeat: no-repeat;
  display: flex !important;
  align-items: center;
  position: relative;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.slider-btn{
 margin-top: 2rem;
  width: fit-content;
}

.slider-services__item{
  font-size: 1.625rem;
  display: flex;
  align-items: center;
  span{
    margin-right: 1rem;
    color: $green;
  }
}

.container-white{
  position: relative;
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    top: 0px;
    background-color: white;
    transform: skewY(-2deg);
    transform-origin: top left;
  }
  .container{
    position: relative;
    z-index: 1;
  }
}



.step-container{
  padding-top: 3rem;
  z-index: 1;
}

.step-items{
  display: flex;
  position: relative;
  margin-top: 3.5rem;
  &:before{
    position: absolute;
    width: 75%;
    height: 1px;
    top: 25px;
    border: 1px dashed #cfcfcf;
    content: '';
  }
}

.step-item{
  flex-basis: 25%;
}

.step-item__number{
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 53px;
  height: 53px;
  background-image: linear-gradient(to right, #8dde8b 0%, #58c256 100%), linear-gradient(to right, #8dde8b 0%, #58c256 100%);
  background-size: 100% 20px;
  border-left: 7px solid #8dde8b;
  border-right: 7px solid #58c256;
  font-size: 1.625rem;
  font-weight: 700;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  span{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-bottom: 1px;
  }
  &:before{
    content: '';
    position: absolute;
    width: 39px;
    height: 39px;
    background-color: white;
    border-radius: 50%;
    top: 7px;
  }
}

.circle-1{
  top: -190px;
  right: 80px;
}

.circle-2{
  top: -90px;
  left: 0px;
}

.circle-3{
  bottom: 100px;
  right: 50px;
}

.circle-4{
  top: 300px;
  left: 20px;
}

.circle-5{
  bottom: 350px;
  right: 0px;
}

.circle-6{
  left: 40px;
  bottom: 25%;
}

.circle-7{
  right: 0px;
  top: -100px;
}

.circle-8{
  right: 100px;
  bottom: -30px;
}

.circle-9{
  left: 0;
  top: 0;
}

.circle-10{
  right: 15px;
  top: 0;
}

.circle-11{
  right: 10%;
  bottom: -100px;
}

.circle-12{
  top: -30px;
  right: 0px;
}

.circle-13{
  top: 0;
  left: 40px;
}
.circle-14{
  bottom: -100px;
  left: 0;
}
.circle-15{
  top: -130px;
  right: 0;
  transform: rotate(180deg);
}
.circle-16{
  right: 0;
  top: 30%;
  transform: rotate(180deg);
}
.circle{
  z-index: 0;
  position: absolute;
  img{
    box-shadow: none;
    border-radius: none;
  }
}

.profiles-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.profiles-container{
  background-color: #f3f3f3;
  margin-top: 40px;
  padding-bottom: 65px;
  .container{
    position: relative;
    z-index: 1;
  }
}

.gallery-container{
  background-color: #f3f3f3;
  margin-top: 40px;
  padding-bottom: 0px;
  .container{
    position: relative;
    z-index: 1;
  }
}

.callback-container{
  background-color: #f3f3f3;
  padding-top: 100px;
  .container{
    position: relative;
    z-index: 1;
  }
  .question-form{
    box-shadow: none;
  }
}

.entertainment-container{
  padding-bottom: 40px;
}

.profiles-item{
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  margin-bottom: 2%;
  color: white;
  background-image: linear-gradient(153deg, #8cde8a 0%, #58c256 100%);
  border-radius: 10px;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  &:hover{
    color: white;
    &:before{
      animation: shine .85s;
    }
  }
  &:before{
    position: absolute;
    display: block;
    top: 0;
    left: -75%;
    z-index: 2;
    height: 100%;
    width: 50%;
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
  }
}

.profile-circle{
  position: relative;
  z-index: 1;
  &:after{
    width: 63px;
    height: 63px;
    background-image: linear-gradient(139deg, #8cde8a 0%, #58c256 100%);
    border: 17px solid #f3f3f3;
    position: absolute;
    content: '';
    right: -31px;
    bottom: -20px;
    border-radius: 50%;
  }
}

.profiles-item__icon{
  font-size: 4rem;
  height: 80px;
  margin-top: 20px;
}

.profiles-item__title{
  font-size: 1.375rem;
  font-weight: 700;
}

.profiles-link{
  color: $green;
  font-size: 1.375rem;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  display: block;
}

.fancy-video{
  display: flex;
  align-items: center;
  justify-content: center;
  &:before{
    position: absolute;
    content: '\e94e';
    color: $white;
    font-family: 'icomoon';
    font-size: 2rem;
    width: 4.063rem;
    height: 4.063rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31c6f0;
    background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
    border-radius: 33px;
    padding-left: 2px;
  }
  &:after{
    content: '\e969';
    font-family: 'icomoon';
    position: absolute;
    left: 30px;
    top: 10px;
    opacity: 0.5;
    font-size: 1.5rem;
    color: white;
  }
}

.info-index__place{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  &:before{
    content: url("../images/user-group.png");
    margin-right: 1rem;
  }
}

.info-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.info-item{
  flex-basis: 21%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.info-item__title{
  margin-top: 1rem;
  font-size: 1.375rem;
  line-height: 1.6rem;
}

.info-item__icon{
  background: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.gallery-small{
  width: 100%;
  img{
    box-shadow: none;
    width: 100%;
  }
  .slick-prev{
    left: -32px;
  }
  .slick-next{
    right: -32px;
  }
  .slick-dots{
    bottom: 20px;
  }
}

.entertainment-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.entertainment-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;

}

a.entertainment-item{
  &:hover{
    .entertainment-icon{
      color: $blue;
      background: none;
      -webkit-text-fill-color: $blue;
    }
    .entertainment-title{
      color: $green;
    }
  }
}

.entertainment-icon{
  background: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
}

.entertainment-title{
  color: #2fc6f1;
  font-weight: 700;
  line-height: 1.2rem;
  margin-top: 1rem;
}

.callback-icon{
  width: 4.063rem;
  height: 4.063rem;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4.1px 8px 17px rgba(0, 0, 0, 0.11);
  border-radius: 50%;
  text-align: center;
  &:before{
    background: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    content: '\e94b';
    font-family: 'icomoon';
  }
}

.callback{
  padding: 2.5rem 4.6rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  .question-form{
    padding: 0;
  }
}

.map-container{
  padding-bottom: 0;
  padding-top: 0;
  margin-top: -35px;
  margin-bottom: -5rem;
  position: relative;
  display: flex;
  align-items: center;
  &:before{
    z-index: 1;
  }
}

.get-to{
  padding: 0 0 20px;
}

#map{
  height: 500px;
  width: 100%;
  & > ymaps{
    width: 100%;
    height: 100%;
  }
}

.map-container__info{
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  width: 470px;
  right: 20%;
}

.container-map__info{

  width: 470px;
  padding: 30px 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
}