main {
  padding: 1.9rem 0 5rem;
}

.gallery-items {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  a {
    flex-basis: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: .25s;
    }
    &:after {
      width: 4.063rem;
      height: 4.063rem;
      background-color: $white;
      border-radius: 2.063rem;
      box-shadow: -7.4px 5.2px 17px rgba(0, 0, 0, 0.12);
      content: '\e947';
      font-family: 'icomoon';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: $green;
      font-size: 1.5rem;
      opacity: 0;
      transition: .25s;
    }
    &:hover {
      &:before {
        background-color: rgba(49, 198, 240, .8);
      }
      &:after {
        opacity: 1;
      }
    }
  }
  img {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
}

.text-green {
  color: $green;
  text-decoration: underline;
}

.text-blue {
  color: $blue;
}

.card-body__content {
  padding: 0 1.5rem 1.5rem;
  width: 90%;
}

.content {
  ul {
    padding: 0;
    margin: 0;
    li {
      padding-left: 1.75rem;
      margin-bottom: 1.45rem;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 0.8125rem;
        height: 0.8125rem;
        border: 3px solid green;
        border-radius: 50%;
        top: 8px;
      }
      &.way-title {
        font-weight: 700;
        padding-left: 2.6rem;
        height: 2rem;
        display: flex;
        align-items: center;
      }
      &.way-aircraft {
        &:before {
          content: '\e901';
          font-family: 'icomoon';
          font-size: 2rem;
          border: none;
          color: $green;
          width: auto;
          height: auto;
          top: -4px;
        }
      }
      &.way-train {
        &:before {
          content: '\e951';
          font-family: 'icomoon';
          font-size: 2rem;
          border: none;
          color: $green;
          width: auto;
          height: auto;
          top: -4px;
        }
      }
      &.way-transfer {
        &:before {
          content: '\e939';
          font-family: 'icomoon';
          font-size: 2rem;
          border: none;
          color: $green;
          width: auto;
          height: auto;
          top: -7px;
        }
      }
    }
    &.way {
      li:not(.way-title) {
        margin-left: .9rem;
      }
    }
  }
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: num;
    li {
      padding-left: 1.75rem;
      margin-bottom: 1.45rem;
      position: relative;
      &:before {
        content: counter(num) ')';
        counter-increment: num;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.hr {
  height: 1px;
  background-color: #f3f3f3;
  width: 100%;
  margin: 1.4rem 0;
}

.name {
  font-weight: 900;
  font-size: 1.625rem;
  margin-bottom: .5rem;
}

.place {
  color: $blue;
  font-weight: 900;
}

.cost-form {
  padding: 2.7rem 4.875rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
}

.cost-form__line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cost-form__item {
  flex-basis: 31%;
  position: relative;
  margin-bottom: 1.95rem;
}

.cost-form__item-label {
  margin-bottom: .8rem;
  font-size: 1.24rem;
  padding: 0 2.5rem;
}

.cost-form__item-name {
  height: 4.063rem;
  background-color: #f4f4f4;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  font-family: 'Gilroy';
  font-size: 1.375rem;
  outline: none;
  transition: .25s;
  border: 1px solid transparent;
  &:hover {
    box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  }
}

.error {
  .cost-form__item-name {
    border: 1px solid red;
  }
}

.cost-form__textarea {
  height: 13.13rem;
  background-color: #f4f4f4;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2.5rem;
  font-family: 'Gilroy';
  font-size: 1.375rem;
  border: none;
  outline: none;
  resize: none;
  transition: .25s;
  &:hover {
    box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d4d4d4 !important;
}

input::-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 19+ */
  color: #d4d4d4 !important;
}

input:-ms-input-placeholder, textarea::-webkit-input-placeholder { /* IE 10+ */
  color: #d4d4d4 !important;
}

input:-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 18- */
  color: #d4d4d4 !important;
}

.cost-form__line-number {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cost-form__line-column {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

.cost-form__line-column {
  flex-basis: 31%;
  .cost-form__item {
    width: 100%;
    &:first-child {
      margin-bottom: 3rem;
    }
  }
}

.cost-form__num {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2.5rem;
  .cost-form__input-num {
    border: 1px solid transparent;
    transition: .25s;
    margin: 0 4px;
    width: 48px;
    &:focus {
      border: 1px solid $blue;
    }
  }
  &:hover {
    .cost-form__input-num {
      border: 1px solid $blue;
    }
  }
}

.cost-form__input-num[placeholder="0"] {
  &::placeholder {
    color: #b6b6b6 !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.link-items__white {
  padding: 1rem !important;
  li {
    margin: 0 0 1rem !important;
    padding: 0 !important;
    &:before {
      content: none !important;
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.cost-form__input-num {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 .3rem;
  font-family: 'Gilroy';
  font-size: 1.375rem;
  width: 58px;
}

.cost-form__num-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: $blue;
  color: white;
  border-radius: 50%;
  font-size: 1.375rem;
  cursor: pointer;
  padding-bottom: 4px;
  transition: .25s;
  &:hover {
    box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  }
}

.question-form__contact {
  .question-form__title .question-form__icon__container {
    flex-basis: 8%;
  }
}

.arrow-top__desktop {
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  transition: .25s;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  &:before {
    font-family: 'icomoon';
    font-weight: 400;
    position: absolute;
    content: '\e903';
    transform: rotate(-90deg);
  }
  &.active {
    opacity: 1;
  }
}

#date-container {
  position: relative;
  border-radius: 2rem;
  background-color: #f4f4f4;
  &:before {
    content: '\e90e';
    font-family: 'icomoon';
    color: $blue;
    right: 1.5rem;
    font-size: 1.7rem;
    position: absolute;
    top: .8rem;
  }
  & ::placeholder {
    font-weight: 700;
    color: $blue !important;
  }
  .cost-form__item-name {
    color: $blue;
    font-weight: 700;
    position: relative;
    z-index: 1;
    background-color: transparent;
  }
  &:hover {
    cursor: pointer;
  }
}

.cost-form__line-check {
  display: flex;
  flex-flow: row wrap;
  .cost-form__line-check-column {
    flex-basis: 40%;
    &:nth-child(1) {
      flex-basis: 60%;
    }
  }
}

.cost-form__line-check-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: .8rem;
  label {
    flex-basis: 85%;
    cursor: pointer;
    transition: .25s;
  }
  &:hover {
    color: $blue;
    .cost-form__check-item {
      border-color: $blue;
    }
  }
}

.cost-form__check-item {
  transition: .25s;
  margin-top: 3px;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #c5c5c5;
  border-radius: 5px;
  margin-right: 10px;
}

.check {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.check-before::before,
.check-before::after {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 2px;
  height: 0;
  content: ' ';
  transition: opacity ease .5s;
  transform-origin: left top;
  background-color: $blue;
}

.check-before::before {
  top: 13px;
  left: 9px;
  transform: rotate(-145deg);
}

.check-before::after {
  top: 9px;
  left: 2px;
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-before::after {

  animation: dothabottomcheck .2s ease 0s forwards;
}

input[type=checkbox]:checked + .check-before::before {

  animation: dothatopcheck .6s ease 0s forwards;
}

@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  100% {
    height: 12px;
  }
}

@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 8px;
  }
}

.cost-form__line-submit {
  position: relative;
  text-align: center;
  line-height: 1.2rem;
  input {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
    cursor: pointer;
  }
}

.cost-form__line-click {
  width: 34%;
  margin: 2rem auto 0;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 8.2px 3.8px 17px rgba(0, 0, 0, 0.11);
  margin-bottom: .9rem;
}

.collapse-link {
  background-color: white;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  cursor: pointer;
  .h3, .h2 {
    flex-basis: 85%;
    margin-bottom: 0;
  }
  &:after {
    content: '\e903';
    font-family: 'icomoon';
    transform: rotate(-90deg);
    width: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.6rem;
    background-color: $blue;
    border-radius: 50%;
    color: $white;
    font-size: 1.2rem;
    transition: .25s;
    padding-left: 4px;
  }
  &.collapsed {
    &:after {
      transform: rotate(90deg);
    }
  }
  &:hover {
    &:after {
      background-color: $green;
    }
  }
}

.category-container__table-tr {
  display: flex;
  align-items: center;
  padding: .7rem 1.5rem;
  color: $blue;
  &:first-child {
    background-color: #fbfbfb;
  }
}

.category-container__table-th {
  flex-basis: 24%;
  font-weight: 700;
  &.active-element {
    display: none;
  }
  span {
    display: block;
    width: 60%;
  }
}

.category-table-date {
  flex-basis: 74%;
}

.category-container__table-hidden {
  width: 100%;
}

.category-container__table-height {
  width: 100%;
  display: flex;
  align-items: center;
  .category-container__table-th {
    flex-basis: 20%;
  }
}

.category-container__table-td {
  color: #3a3f5c;
  &:first-child {
    flex-basis: 24%;
    padding-left: 1.75rem;
    position: relative;
    .numb {
      &:before {
        position: absolute;
        top: 8px;
        left: 0;
        width: .7125rem;
        height: .7125rem;
        content: '';
        border: 3px solid green;
        border-radius: 50%;
      }
    }
  }
  flex-basis: 14.8%;
}

.link-items {
  border-radius: 18px;
  box-shadow: 8.2px 3.8px 17px rgba(0, 0, 0, 0.11);
  overflow: hidden;
}

.link-items__white {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    display: block;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 1rem;
    color: $blue;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $green;
    }
  }
}

.link-items__green {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    display: block;
    margin-bottom: 1rem;
    color: white;
    text-decoration: underline;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &:after {
      content: '';
      width: 9px;
      height: 9px;
      border: 2px solid white;
      border-radius: 50%;
      position: absolute;
      left: -15px;
      top: 10px;
    }
  }
  & > li {
    background-color: white;
    font-weight: 700;
    padding: 15px 1rem !important;
    text-align: center;
    margin: 0 !important;
    width: 100%;
    &:before {
      content: none !important;
    }
    & > a {
      margin-bottom: 0;
      color: #2fc6f1;
      text-decoration: underline;
      &:after {
        content: none;
      }
    }
    &.active {
      background-color: white;
      background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
      & > a {
        color: white;
        text-decoration: none;
      }
      .link-items__green-submenu{
        display: block;
      }
    }
  }
}

.advertising-item {
  position: relative;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  display: block;
  margin-bottom: 1.5rem;
  img {
    width: 100%;
  }
}

.advertising-item__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 2rem;
  .btn {
    width: 224px;
    margin-top: 15px;
  }
}

.advertising-item__top {
  display: flex;
  align-items: center;
  color: white;
}

.advertising-item__number {
  font-size: 3.75rem;
  font-weight: 700;
  margin-right: .4rem;
}

.advertising-item__title {
  font-size: 1.275rem;
  font-weight: 700;
  line-height: 1.4rem;
}

.advertising-item__date {
  font-size: 1.275rem;
  font-weight: 700;
  line-height: 1.4rem;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 120px;
  background-color: #31c6f0;
  border-radius: 100% 0 0 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem .5rem;
}

.question-form {
  background-color: white;
  border-radius: 18px;
}

.question-form__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.625rem;
  margin-bottom: 2rem;
  & > div {
    flex-basis: 80%;
    line-height: 1.7rem;
  }
  .question-form__icon__container {
    flex-basis: 15%;
  }
}

.question-form__icon {
  width: 4rem;
  flex-basis: 20%;
  height: 4rem;
  background-color: white;
  box-shadow: 4.1px 8px 17px rgba(0, 0, 0, 0.11);
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    position: absolute;
    content: '\e952';
    font-family: 'icomoon';
    font-size: 1.9rem;
    color: #74d272;
    height: 33px;
    display: flex;
    align-items: center;
  }
}

.cost-form__textarea-right {
  height: 127px;
}

.question-container {
  position: relative;
}

.interesting-container {
  background-color: #f3f3f3 !important;
  position: relative;
  margin-top: 65px;
  margin-bottom: -5rem;
  padding-bottom: 40px !important;
}

.interesting-item {
  margin-bottom: 1.5rem;
  background-color: $white;
  width: 100%;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.07);
  padding: 1.4rem;
  transition: .25s;
  display: flex;
  align-items: center;
  &:hover {
    background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
    box-shadow: none;
    .interesting-item__icon {
      background: none;
      color: white;
      -webkit-text-fill-color: white;
    }
    .interesting-item__title {
      color: white;
    }
  }
}

.interesting-item__icon {
  flex-basis: 12%;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.interesting-item__title {
  flex-basis: 88%;
  padding-left: 5%;
  font-weight: 700;
  color: $blue;
  line-height: 1.2rem;
}

.mb-4__none {
  margin-bottom: -5rem;
}

.leisure-container, .cardiology-container {
  margin-bottom: 2.8rem;
  position: relative;
}

.leisure-item {
  min-height: 278px;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.07);
  margin-bottom: 1.5rem;
  padding: 2.375rem 5rem 2.375rem 2.375rem;
  color: white;
  position: relative;
  background-size: cover;
}

.leisure-item__content {
  margin: 0 0 1.5rem;
}

.leisure-item__link {
  width: fit-content;
  padding: 0 3.5rem;
}

.leisure-icon {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4rem;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: 150px;
  height: 120px;
  padding: 1.5rem 2rem;
  text-align: right;
  color: $blue;
  border-radius: 0 0 0 100%;
  background-color: $white;
  align-items: flex-start;
  justify-content: flex-end;
  span {
    &:before {
      color: $blue;
    }
  }
}

.number-items {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.number-items__container {
  display: flex;
  flex-flow: row wrap;
}

.slick-slide {
  img {
    box-shadow: none;
  }
}

.program-link__mobile {
  display: none !important;
}

.number-item {
  height: 2.25rem;
  border-radius: 18px;
  background-color: $blue;
  display: flex;
  align-items: center;
  padding: 0 1.75rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
    color: white;
  }
  &.active {
    background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  }
}

.cardiology-price__container {
  padding-left: 1.5rem;
}

.cardiology-price__title, .pay-title {
  font-weight: 700;
  color: $blue;
  margin-bottom: 1rem;
}

.cardiology-price__item {
  padding-left: 1.75rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .4rem;
  overflow: hidden;
  &:before {
    position: absolute;
    top: 8px;
    left: 0;
    width: .8125rem;
    height: .8125rem;
    content: '';
    border: 3px solid green;
    border-radius: 50%;
  }
  span {
    background-color: white;
    position: relative;
    z-index: 1;
    &:last-child {
      min-width: 155px;
    }
  }
}

.checkout-time {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  &:before {
    content: '\e912';
    background: -webkit-linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'icomoon';
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

.pay-items {
  display: flex;
  flex-flow: row wrap;
}

.width-fit {
  width: fit-content;
}

.pay-container {
  margin-top: 1rem;
}

.pay-item {
  display: flex;
  flex-basis: 30%;
  margin-right: 5%;
  align-items: center;
  &:last-child {
    margin-right: 0;
  }
}

.pay-item__icon {
  flex-basis: 25%;
  background: -webkit-linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.pay-item__title {
  flex-basis: 75%;
}

.number-slider {
  width: 100%;
  .slick-dots {
    bottom: 10px;
  }
  li {
    &.slick-active {
      border: 4px solid $green !important;
    }
    &:hover {
      background-color: $green !important;
    }
  }
}

.facilities-items {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.5rem;
}

.facilities-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 16.6%;
  margin-bottom: 1.5rem;
}

.facilities-item__title {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.4rem;
}

.facilities-item__icon {
  font-size: 3rem;
  background: -webkit-linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.treatment-container {
  margin-top: -3.2rem;
  height: 758px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
  align-items: center;
}

.branches-item {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  line-height: 1.4rem;
}

.branches-item__icon {
  flex-basis: 10%;
  background: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 2rem;
}

.branches-item__title {
  flex-basis: 90%;
}

.profiles-container__white {
  background-color: white !important;
  padding-top: 0 !important;
}

.reviews-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  padding: 2.375rem 2.813rem;
  margin-bottom: 1rem;
}

.reviews-container {
  position: relative;
  .container {
    position: relative;
    z-index: 1;
  }
}

.reviews-item__pic {
  margin-right: 1rem;
  flex-basis: 15%;
  img {
    box-shadow: none;
    border-radius: 50%;
  }
}

.reviews-item__info {
  flex-basis: 85%;
}

.reviews-item__top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  .page-item {
    padding-left: 0;
    margin: 0 .5rem;
    &:before {
      content: none;
    }
  }
}

.page-link:hover {
  color: $blue;
}

.page-link.active {
  color: $blue;
}

.page-link__prev {
  width: 31px;
  height: 31px;
  background-color: white;
  box-shadow: 0.9px 2.9px 16px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  transition: .25s;
  justify-content: center;
  border-radius: 50%;
  &:before {
    transition: .25s;
    content: '\e903';
    font-size: .7rem;
    font-family: 'icomoon';
    color: $blue;
    transform: rotate(180deg);
  }
  &:hover {
    background-color: $blue;
    box-shadow: none;
    &:before {
      color: $white;
    }
  }
}

.page-link__next {
  width: 31px;
  height: 31px;
  background-color: white;
  box-shadow: 0.9px 2.9px 16px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  transition: .25s;
  justify-content: center;
  border-radius: 50%;
  &:before {
    transition: .25s;
    content: '\e903';
    font-size: .7rem;
    font-family: 'icomoon';
    color: $blue;
  }
  &:hover {
    background-color: $blue;
    box-shadow: none;
    &:before {
      color: $white;
    }
  }
}

.jq-selectbox {
  width: 100%;
  border: 1px solid #36c7f0;
  font-family: 'Gilroy';
  font-size: 1.375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4.063rem;
  transition: .25s;
  border-radius: 2rem;
  outline: none;
  background-color: #f4f4f4;
  align-items: center;
}

.jq-selectbox__select {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.5rem;
}

.jq-selectbox__select-text {
  color: #36c7f0;
  font-size: 1.375rem;
  font-weight: 900;
}

.jq-selectbox__trigger {
  position: absolute;
  right: 2.5rem;
  border: 5px solid transparent;
  border-top: 5px solid #36c7f0;
  top: 50%;
}

.jq-selectbox__dropdown {
  width: 100%;
  border: 1px solid #36c7f0;
  border-radius: 10px;
  background-color: white;
  top: 103%;
  overflow: hidden;
  padding: .5rem 0;
  li {
    margin-bottom: 0 !important;
    padding: .2rem 2.5rem !important;
    &:before {
      content: none !important;
    }
    &:hover {
      cursor: pointer;
      background-color: $blue;
      color: $white;
    }
  }
}

.program-container {
  position: relative;
}

.program-item {
  padding: 30px 150px 30px 24px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.07);
  display: block;
  min-height: 200px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.4rem;
  &:hover {
    background-image: linear-gradient(135deg, #8dde8b 0%, #58c256 100%);
    .program-item__day, .program-item__title {
      color: white;
    }
    .program-item__price {
      background-color: white;
      color: $blue;
    }
    .btn {
      color: $green;
      background-color: white;
      background-image: none;
    }
  }
}

.program-item__top {
  display: flex;
}

.program-item__day {
  color: $green;
  text-align: center;
  flex-basis: 15%;
}

.program-item__day-number {
  font-size: 2.813rem;
  font-weight: 900;
  line-height: 2.8rem;
}

.program-item__day-text {
  margin-top: -.5rem;
  display: block;
}

.program-item__title {
  color: $blue;
  font-size: 1.375rem;
  margin-left: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
  padding-top: .4rem;
}

.program-item__btn {
  background-color: #31c6f0;
  background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  max-width: 224px;
  margin-left: 4rem;
  margin-top: 1.2rem;
}

.program-item__price {
  font-size: 1.375rem;
  font-weight: 700;
  color: white;
  line-height: 1.4rem;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: 150px;
  height: 120px;
  padding: 1rem .5rem 2.5rem;
  text-align: right;
  border-radius: 0 0 0 100%;
  background-color: #31c6f0;
  align-items: center;
  justify-content: flex-end;
}

.price-container {
  background: url("../images/price-bg.jpg") center no-repeat;
  width: 100%;
  height: 451px;
  background-size: cover;
  margin-top: -3.4rem;
  padding-top: 3.4rem;
}

.sale {
  margin-top: -100px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  padding: 50px;
}

.sale-items {
  display: flex;
  justify-content: space-between;
}

.sale-item__top {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.sale-item__number {
  width: 66px;
  height: 65px;
  border-right: 7px solid #58c256;
  border-left: 7px solid #8dde8b;
  background-image: linear-gradient(to right, #8dde8b 0%, #58c256 100%), linear-gradient(to right, #8dde8b 0%, #58c256 100%);
  background-size: 100% 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  &:before {
    width: 52px;
    height: 52px;
    position: absolute;
    background-color: white;
    content: '';
    border-radius: 50%;
  }
  span {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-size: 1.625rem;
  }
}

.sale-item__title {
  font-size: 1.625rem;
  text-transform: uppercase;
}

.sale-container {
  position: relative;
}

.payment-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.07);
  padding: 28px;
  display: block;
  position: relative;
  .btn {
    max-width: 240px;
    padding: 0 1rem;
    text-align: center;
  }
}

.card-body__scroll {
  width: 100%;
  overflow: auto;
  .category-container__table {
    width: 1000px;
  }
}

.payment-top {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.813rem;
  &:before {
    content: '\e916';
    font-family: 'icomoon';
    color: $green;
    margin-right: .5rem;
  }
}

.payment-content {
  margin: .3rem 0 1rem;
  display: block;
  font-weight: 700;
  font-size: 1.375rem;
  color: $blue;
  line-height: 1.4rem;
}

.sale-cardio-container {
  position: relative;
  background-color: #f3f3f3 !important;
  margin-top: -10rem;
  padding-bottom: 7rem !important;
  padding-top: 14rem !important;
  .sale {
    margin-top: 0;
  }
}

.price-cardio__container {
  position: relative;
  z-index: 1;
}

.relax-container {
  position: relative;
  z-index: 1;
  .entertainment-items {
    justify-content: flex-start;
  }
  .entertainment-item {
    flex-basis: 20%;
  }
}

.tab-content > .row.active {
  display: flex !important;
}

.slider-modal {
  img {
    border-radius: 10px;
    box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  }
  .slick-slide {
    padding: 46px;
  }
}

.pic-four__container {
  background-color: #f3f3f3 !important;
  margin-top: -6rem !important;
  .h1 {
    margin-top: -8rem;
  }
  li {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.gallery-items__four {
  margin-top: 6rem;
  a {
    flex-basis: 50%;
  }
}

.btn-minus {
  margin-bottom: -3.5rem;
  padding-top: 3.5rem;
}

.content-minus {
  margin-top: -3rem;
}

.accommodation-section {
  .tab-pane {
    &.active {
      display: flex;
    }
  }
}

.number-items {
  li {
    padding: 0 !important;
    margin: 0 10px 0 0 !important;
    &:before {
      content: none !important;
    }
  }
}

.program-link__container {
  background-color: white;
  border: 1px solid #31c6f0;
  border-radius: 33px;
  height: 4.063rem;
  display: flex;
  width: fit-content;
  li {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    &:before {
      content: none !important;
    }
    a {
      height: 100%;
    }
  }
}

.program-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3.125rem;
  font-size: 1.375rem;
  transition: .25s;
  border-radius: 33px;
  &:hover {
    color: $green;
  }
  &.active {
    font-weight: 700;
    color: white;
    background-color: #31c6f0;
    background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
    margin: -1px;
    &:hover {
      color: white;
    }
  }
}

.program-link__active {
  font-weight: 700;
  color: white;
  background-color: #31c6f0;
  background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
  margin: -1px;
  &:hover {
    color: white;
  }
}

.price-circle {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #31c6f0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-weight: 700;
  font-size: 1.375rem;
  border-radius: 50%;
  line-height: 1.5rem;
}

.price-big__link {
  color: $green;
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.375rem;
}

.list-items__container {
  background-color: #f3f3f3 !important;
  li {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.procedure-container {
  background-color: #f3f3f3 !important;
}

.procedure-table__container {
  background-color: white;
  border-radius: 10px;
  .nav-pills {
    padding: 40px 34px 10px;
  }
  .nav-item {
    &:before {
      display: none;
    }
    padding-left: 0;
    margin-right: 1rem;
  }
  .nav-link {
    height: 36px;
    background-color: #31c6f0;
    border-radius: 18px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    transition: .25s;
    &.active {
      background-image: linear-gradient(122deg, #8dde8b 0%, #58c256 100%);
    }
  }
}

.procedure-table__tr {
  padding: 12px 30px;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  align-items: center;
  &:first-child {
    border-bottom: none;
    margin: 0 -7px;
    background-color: #fbfbfb;
    padding: 12px 37px;
  }
}

.procedure-table__th {
  font-weight: 700;
  color: $blue;
  &:first-child {
    flex-basis: 10%;
  }
  &:nth-child(2) {
    flex-basis: 70%;
    padding-right: 5%;
  }
  &:nth-child(3) {
    flex-basis: 20%;
  }
}

.procedure-table__td {
  &:first-child {
    flex-basis: 10%;
  }
  &:nth-child(2) {
    flex-basis: 70%;
    padding-right: 5%;
  }
  &:nth-child(3) {
    flex-basis: 20%;
    text-align: center;
  }
}

.procedure-table__td-circle {
  padding-left: 1.75rem;
  position: relative;
  &:before {
    position: absolute;
    top: 8px;
    left: 0;
    width: .8125rem;
    height: .8125rem;
    content: '';
    border: 3px solid green;
    border-radius: 50%;
  }
}

.program-page__container {
  position: relative;
  .number-items {
    margin-bottom: 0;
  }
  .program-link__container {
    margin-bottom: -3rem;
    z-index: 1;
    position: relative;
  }
}

.accommodation-section {
  background-color: #f3f3f3 !important;
  .cardiology-price__container {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
  }
  .number-items {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .cardiology-price__item:after {
    display: none;
  }
  .checkout-time {
    margin-top: 1.5rem;
  }
}

.container-number {
  margin-top: -4rem;
}

.specialist-container {
  background-color: #f3f3f3 !important;
}

.specialist-slider, .reviews-slider {
  .slick-slide {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -20px;
    padding: 0 0 30px;
  }
  .slick-prev {
    left: -8%;
    top: 35%;
  }
  .slick-next {
    right: -8%;
    top: 35%;
  }
}

.number-item__default {
  display: none;
}

.specialist-item__pic {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    box-shadow: none;
    border-radius: 50%;
    background-color: transparent;
  }
}

.specialist-item__content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  text-align: center;
  padding: 180px 40px 40px;
  margin-top: -150px;
}

.specialist-item__name {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.6rem;
}

.bg-gray {
  background-color: #f3f3f3 !important;
}

.reviews-slider__pic {
  flex-basis: 208px;
  position: relative;
  z-index: 1;
  img {
    box-shadow: none;
    border-radius: 50%;
  }
}

.slider-container {
  position: relative;
}

.reviews-slider__item {
  display: flex !important;
  align-items: center;
}

.reviews-slider__content {
  min-height: 308px;
  flex-basis: 90.5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.4px 10.5px 25px rgba(0, 0, 0, 0.11);
  padding: 37px 50px 37px 180px;
  margin-left: -100px;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  color: red;
  font-size: 12px;
}

.title-mobile {
  display: none;
}

.red-star {
  color: red;
}

.link-items__green-submenu {
  display: none;
  margin-top: 1rem !important;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 0 1rem !important;
    padding: 0 !important;
    a {
      font-size: 1rem;
      text-decoration: underline;
      font-weight: 400;
      text-transform: none;
      &:after {
        position: absolute;
        top: 10px;
        left: -15px;
        width: 9px;
        height: 9px;
        content: '';
        border: 2px solid white;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
    &:before {
      display: none !important;
    }
    &:last-child {
      margin: 0 !important;
    }
  }
}

@media not all and (min-resolution: .001dpcm) {
  div {
    &:before {
      color: $green;
      -webkit-text-fill-color: $green;
      background: transparent;
    }
  }
}