@media(max-width: 1900px) {
  .circle {
    display: none;
  }
  .slider-big {
    .slick-next {
      right: 5%;
    }
    .slick-prev {
      left: 5%;
    }
  }
}

@media(max-width: 1500px) {
  .map-container__info {
    right: 0;
  }
  .specialist-slider {
    .slick-next {
      right: 0;
      top: 23%;
    }
    .slick-prev {
      left: 0;
      top: 23%;
    }
  }
}

@media(max-width: 1100px) {

  .pay-container {
    & + .btn {
      margin: 0 auto;
    }
  }
  .program-page__container {
    .program-link__container {
      margin-bottom: 0;
    }
  }
  .reviews-section {
    padding-bottom: 100px !important;
  }
  .specialist-slider .slick-prev, .reviews-slider .slick-prev {
    top: 102%;
    left: calc(45% - 65px);
  }
  .specialist-slider .slick-list, .reviews-slider .slick-list {
    margin: 0;
  }
  .specialist-slider .slick-next, .reviews-slider .slick-next {
    top: 102%;
    right: calc(45% - 65px);
  }
  .specialist-slider .slick-arrow, .reviews-slider .slick-arrow {
    display: block !important;
  }
  .content-minus {
    margin-top: 0;
  }
  .relax-container .entertainment-item {
    flex-basis: 25%;
  }
  .sale-cardio-container {
    margin-top: 2.8rem !important;
    padding-top: 2.8rem !important;
    padding-bottom: 2.8rem !important;
  }
  .advertising-item__content {
    padding: .5rem;
  }
  .advertising-item__number {
    font-size: 3rem;
  }
  .treatment-container {
    height: 600px;
  }
  .cost-form {
    padding: 2.7rem;
  }
  .contact-marketing {

  }
  .booking .container {
    margin-top: 0;
  }
  #map {
    height: 350px;
  }
  .stock-items, .booking {
    margin: 0;
    padding: 2.8rem 0;
  }
  .contact-marketing {
    margin: 0;
  }
  .callback {
    padding: 10px 30px;
  }
  .gallery-container {
    margin-top: 0;
  }

  .container-white {
    padding: 2.8rem 0;
    &:before {
      display: none;
    }
  }
  .get-to {
    padding: 2.8rem 0 0;
  }
  .map-container {
    padding-bottom: 0;
  }
  .step-container {
    padding-top: 0;
  }
  .slider-big__item {
    height: 512px;
    padding: 0 2rem;
  }
  .slick-arrow {
    display: none !important;
  }
  .header-menu__link {
    font-size: .65rem;
  }
  .h1, h1 {
    font-size: 2.213rem;
    line-height: 2.8rem;
    margin-bottom: 1.8rem;
  }
  .h2, h2, .name {
    font-size: 1.425rem;
    line-height: 1.6rem;
    margin-bottom: 1.8rem;
  }
  .h3, h3 {
    font-size: 1.275rem;
    line-height: 1.55rem;
    margin-bottom: 1.8rem;
  }
  .h4, h4 {
    margin-bottom: 2.8rem;
    br {
      display: none;
    }
  }
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

@media(max-width: 991px) {
  .btn {
    width: fit-content;
    margin: 0 auto;
  }
  .program-link__desktop {
    display: none !important;
  }
  .program-link__mobile {
    margin-top: 1rem !important;
    display: flex !important;
  }
  .specialist-slider {
    .slick-prev {
      top: 27%;
      left: -6px;
    }
    .slick-next {
      top: 27%;
      right: -6px;
    }
  }
  .reviews-slider__pic {
    display: none;
  }
  .reviews-slider {
    .slick-prev {
      top: 30%;
      left: -6px;
    }
    .slick-next {
      top: 30%;
      right: -6px;
    }
  }
  .reviews-item__info {
    margin-bottom: 3rem !important;
  }
  .header-submenu__container {
    position: relative;
    padding-top: 0;
    top: auto;
    left: auto;
    height: 0;
    opacity: 1;
    z-index: 0;
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
    display: block;
  }
  .header-menu__item {
    flex-direction: column;
    &:last-child {
      flex-direction: row;
    }
  }
  .header-submenu__link {
    text-align: center;
    font-size: 1rem;
    margin-right: 0;
    padding-bottom: 10px;
    font-weight: 900;
    display: block;
    padding: 0;
  }
  .header-submenu {
    flex-direction: column;
    padding-top: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
  }
  .reviews-slider__item {
    flex-direction: column;
  }
  .program-page__container {
    padding-bottom: 40px;
  }
  .pic-four__container {
    margin-top: 0 !important;
    .h1 {
      margin-top: 0;
    }
  }
  .slick-prev:before, .slick-next:before {
    width: 3rem;
    height: 3rem;
  }
  .reviews-slider__content {
    margin: 20px 0 0;
    padding: 30px 45px;
  }
  .gallery-items__four {
    margin-top: 2rem;
  }
  .card-body__scroll .category-container__table {
    width: auto;
  }
  .sale-items {
    flex-flow: row wrap;
  }
  .sale-item {
    flex-basis: 50%;
    margin-bottom: 1rem;
  }
  .treatment-container {
    background-image: none !important;
    background-color: #f3f3f3;
    height: auto;
    margin-top: 1.9rem;
  }
  .cardiology-price__container {
    padding-left: 0;
  }
  .pay-item__icon {
    flex-basis: 15%;
  }
  .pay-items {
    flex-direction: column;
  }
  .facilities-item {
    flex-basis: 33%;
  }
  .stock-circle {
    right: 0;
    top: 0;
    width: 6rem;
    height: 6rem;
    font-size: 1rem;
  }
  .advertising-item__date {
    width: 120px;
    padding: 1rem .5rem;
    height: 90px;
    font-size: 1.1rem;
  }
  .advertising-item__content {
    padding: 1rem;
  }
  .advertising-item__content .btn {
    margin-top: 0;
  }
  .stock-items__container {
    margin-top: 0;
  }
  .booking {
    .container {
      margin-top: 0;
    }
  }
  .stock-items, .booking {
    margin-top: 0;
  }
  .entertainment-item {
    flex-basis: 20%;
  }
  .container-white {
    padding: 40px 0 !important;
  }
  .get-to {
    padding-bottom: 0 !important;
  }
  .reviews-section {
    padding-bottom: 100px !important;
  }
  .map-container__info {
    position: relative;
    width: 100%;
    right: 0;
  }
  .container-map__info {
    width: 100%;
    box-shadow: none;
  }
  .container-map__info {
    padding: 0 0 30px 0;
  }
  .map-container {
    flex-direction: column;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0;
  }
  .step-items {
    flex-flow: row wrap;
    &:before {
      display: none;
    }
  }
  .step-item {
    flex-basis: 50%;
    margin-bottom: 2rem;
    &:nth-child(3), &:nth-child(4) {
      margin-bottom: 0;
    }
  }
  .slider-big {
    .slick-list {
      padding-bottom: 30px;
    }
  }
  .slider-btn {
    bottom: -30px;
  }
  .slider-big__item {
    height: 480px;
  }
  .header-container__btn {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .cost-form {
    padding: 2rem 1rem;
  }
  .cost-form__item {
    flex-basis: 48%;
  }
  .cost-form__line-column {
    flex-basis: 48%;
    .cost-form__item {
      flex-basis: auto;
      width: auto;
    }
    &:last-child {
      flex-basis: 100%;
    }
  }
  .cost-form__line-click {
    width: 42%;
  }
  .header-menu__container {
    position: fixed;
    overflow: auto;
    padding-bottom: 20px;
    top: -300%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .25s;
    background-color: white;
    padding-top: 126px;
    z-index: 2;
    &.active {
      top: 0;
    }
  }
  .header-menu__item {
    &:last-child {
      .header-menu__link {
        margin-bottom: 0;
      }
    }
  }
  .header-menu {
    border: none;
  }
  .header-menu__link {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 0;
    &:after {
      margin-right: -.5rem;
    }
    &:before {
      content: none;
    }
  }
  .header-menu__items {
    flex-direction: column;
  }
  .header-btn__container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-btn__order {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media(max-width: 767px) {
  .accommodation-section .cardiology-price__container {
    padding: .5rem;
  }
  .program-link__container {
    border: none;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    li {
      margin-bottom: .5rem !important;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
  .cost-form__line-check-item {
    br {
      display: none;
    }
  }
  .program-link {
    text-align: center;
    width: 100%;
    padding: .6rem 0;
    display: block;
    border: 1px solid $green;
  }
  .price-container {
    height: 500px;
  }
  .cardiology-price__item:after {
    display: none;
  }
  .sale {
    margin-top: 0;
    padding: 20px 20px 0;
  }
  .sale-item__number span {
    font-size: 1.3rem;
  }
  .sale-item__top {
    margin-bottom: .5rem;
  }
  .procedure-table__tr {
    padding: 12px 12px !important;
    margin: 0 !important;
  }
  .procedure-table__th:first-child, .procedure-table__td:first-child {
    flex-basis: 15%;
  }
  .procedure-table__container .nav-pills {
    padding: 20px 20px 0;
    flex-flow: row wrap;
  }
  .sale-item {
    margin-bottom: 2rem;
    flex-basis: 100%;
    br {
      display: none;
    }
  }
  .sale-item__title {
    font-size: 1.3rem;
  }
  .entertainment-item {
    flex-basis: 25%;
  }
  .info-item {
    flex-basis: 48%;
  }
  .profiles-item {
    flex-basis: 49%;
  }
  .profile-circle {
    display: none;
  }
  .category-container__table-th {
    flex-basis: 80%;
  }
  .category-table-date .category-container__table-hidden {
    position: absolute;
    top: 100%;
    left: -20px;
    overflow: hidden;
    width: 123%;
    height: 0;
    transition: .25s;
    background-color: white;
    box-shadow: 0 5px 21px rgba(0, 0, 2, .21);
  }
  .active-element {
    display: flex !important;
  }
  .category-table-date .category-container__table-th {
    flex-basis: 20%;
  }
  .category-table-date .active-element span {
    position: relative;
    width: 146px;
    text-align: right;
    border-bottom: 1px dashed;
  }
  .category-table-date .active-element:after {
    font-family: 'icomoon';
    display: inline-block;
    margin-left: 10px;
    content: '\e903';
    transition: .25s;
    font-size: .8rem;
    transform: rotate(90deg);
  }
  .category-table-date {
    position: relative;
    flex-direction: column;
    flex-basis: auto;
    align-items: flex-start;
  }
  .category-table-date .active-element span {
    position: relative;
    width: 147px;
    text-align: right;
    border-bottom: 1px dashed;
  }
  .category-container__table-th span {
    width: 100%;
  }
  .category-container__table-td {
    display: none;
  }
  .category-container__table-td.active {
    display: block;
    flex-basis: 100px;
  }
  .category-container__table-th.wrapAll {
    padding-bottom: 4px;
  }
  .category-table-date .category-container__table-height {
    flex-direction: column;
    padding: 18px 12px;
  }
  .category-container__table-tr > .category-container__table-th, .category-container__table-td:nth-child(1) {
    flex-basis: 50%;
  }
  .category-container__table-td:nth-child(1) {
    padding-left: 20px;
    display: flex;
  }
  .gallery-items a {
    flex-basis: 50%;
  }
  .header-btn {
    font-size: 16px;
    width: 202px;
  }
  .header-elements__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
  }
  .header-top__link {
    margin-bottom: 10px;
    font-size: 16px;
    margin-right: 0;
    &:before {
      font-size: 16px;
      left: -25px;
    }
  }
}

@media(max-width: 576px) {
  .arrow-top__desktop{
    display: none;
  }
  .number-items__container-hid {
    height: 0;
    overflow: hidden;
    transition: .25s;
    width: 100%;
  }

  .accommodation-section .number-items {
    margin-bottom: 1rem;
  }
  .number-item__default {
    padding: .6rem 1.2rem .6rem .6rem;
    font-size: 1.175rem;
    border: 1px solid $blue;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &:after {
      content: '\e903';
      font-family: 'icomoon';
      transform: rotate(90deg);
      position: absolute;
      right: .5rem;
      color: $blue;
      font-size: .8rem;
    }
  }
  .number-items li {
    margin: 0 !important;
  }
  .number-items__container {
    border: 1px solid $blue;
    width: 100%;
    flex-direction: column;
    .number-item {
      border-radius: 0;
      padding: .6rem;
      margin: 0;
      height: auto;
      background-color: transparent;
      color: black;
      &.active {
        color: white;
      }
    }
  }
  .modal-content .question-form__title {
    font-size: 26px;
    &:before {
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
    }
  }
  .modal-info {
    font-size: 1rem;
  }
  .reviews-slider__content {
    padding: 10px;
  }
  .relax-container .entertainment-item {
    flex-basis: 50%;
  }
  .program-item__day-number {
    font-size: 1.5rem;
  }
  .program-item__title {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .program-item {
    padding: 26px 99px 21px 14px;
    min-height: auto;
  }
  .reviews-item {
    padding: 1rem;
  }
  .program-item__price {
    font-size: 1rem;
    width: 110px;
    height: 90px;
    padding: 1rem;
  }
  .reviews-item__top {
    flex-direction: column;
    align-items: center;
  }
  .name {
    margin-bottom: .5rem !important;
    margin-top: 1rem;
  }
  .branches-item__icon {
    flex-basis: 15%;
  }
  .number-items {
    margin-bottom: 0;
  }
  .facilities-item {
    flex-basis: 50%;
  }
  .leisure-item {
    padding: 1rem;
  }
  .leisure-icon {
    display: none;
  }
  .interesting-item {
    margin-bottom: 1rem;
  }
  .mt-50 {
    margin-top: 1rem;
  }
  .callback-container {
    br {
      display: none;
    }
  }
  .entertainment-item {
    flex-basis: 48%;
  }
  .marketing-title {
    display: block;
  }
  .contact-options, .warning-info {
    padding-left: 0;
    margin-bottom: 0;
  }
  .contact-line {
    font-size: 1rem;
    &:before {
      font-size: 1.2rem;
    }
  }
  .cost-form__item-label {
    font-size: 1rem;
  }
  .cost-form__item-name, .jq-selectbox__select, .jq-selectbox {
    font-size: 1rem;
    height: 3rem;
  }
  .jq-selectbox__select-text {
    font-size: 1rem;
  }
  .jq-selectbox__dropdown {
    top: 100%;
  }
  .cost-form__textarea {
    font-size: 1rem;
  }
  .callback-icon, .marketing-title:before {
    display: none;
  }
  .question-form {
    border-radius: 0;
  }
  .callback {
    padding: 20px 10px;
  }
  .container-white {
    padding: 40px 0;
    margin-top: 0;
  }
  .profiles-item {
    height: 150px;
    padding: 5px 10px;
  }
  .profiles-link {
    font-size: 1rem;
  }
  .profiles-items {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .profiles-item__icon, .info-item__icon {
    font-size: 3rem;
    height: 60px;
    margin-top: 0;
  }
  .facilities-item__title {
    font-size: 1rem;
  }
  .info-item {
    margin-bottom: 1rem;
  }
  .info-item__title {
    margin-top: 0;
  }
  .gallery-small {
    margin: 0 !important;
  }
  .profiles-item__title, .info-item__title {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .step-container {
    .h1, .h2 {
      text-align: center;
    }
    .h2 {
      margin-top: 2rem;
    }
  }
  .step-item:nth-child(3) {
    margin-bottom: 2rem;
  }
  .slider-btn {
    bottom: -10px;
    margin-top: 1rem;
  }

  .step-item {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .step-item__number {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .slider-big__item {
    height: 390px;
    padding: 0 .5rem;
    .h1 {
      text-align: center;
    }
  }
  .slider-services__item {
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
    font-size: 1rem;
    width: 120px;
    text-align: center;
    span {
      font-size: 2rem;
      margin-right: 0;
    }
  }
  .slider-services__items {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    font-size: 1rem;
    height: 3rem;
  }
  .advertising-item__date {
    font-size: 1rem;
    width: 110px;
    height: 90px;
    padding: 1rem;
  }
  .advertising-item__content .btn {
    width: 180px;
  }
  .advertising-item__number {
    font-size: 2rem;
  }
  .advertising-item__title {
    font-size: 1rem;
  }
  .category-container__table-td:nth-child(1) {
    padding-left: 0;
  }
  .category-container__table-td:first-child .numb:before {
    display: none;
  }
  .category-table-date .active-element:after {
    margin-left: 2px;
  }
  .collapse-link {
    padding: .5rem;
  }
  .card-body__content {
    padding: .5rem;
    width: 100%;
  }
  .collapse-link:after {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1rem;
  }
  .category-container__table-tr {
    padding: .5rem;
  }
  .question-form__icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
    &:before {
      font-size: 1.5rem;
    }
  }
  .question-form__title {
    font-size: 1.25rem;
  }
  .cost-form__item, .cost-form__line-column {
    flex-basis: 100%;
  }
  .question-form {
    padding: 1rem .5rem;
  }
  .h1, h1 {
    font-size: 1.7rem;
    line-height: 2.1rem;
    margin-bottom: 1.8rem;
  }
  .question-form__contact {
    margin-top: 2rem;
  }
  .h2, h2, .name {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 1.8rem;
  }
  .cost-form__line-click {
    width: 100%;
    margin: 0;
  }
  .cost-form__num {
    margin-top: 0;
  }
  .cost-form__line-check-item {
    br {
      display: none;
    }
  }
  .cost-form__line-column .cost-form__item:first-child, .cost-form__item {
    margin-bottom: 1.5rem;
  }
  .cost-form__item-label {
    margin-bottom: .3rem;
  }
  .cost-form__line-check {
    flex-direction: column;
  }
  html {
    font-size: $font-size-root-sm !important;
  }
  .header-slogan {
    font-size: 12px;
    line-height: 16px;
    margin-left: -30px;
    margin-top: -5px;
    padding-right: 5px;
    display: none;
  }
  .bottom-slider {
    display: none;
  }
  .mobile-phone {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-left: -30px;
    margin-top: -5px;
    padding-right: 5px;
  }
  .hamburger {
    margin-top: -5px;
  }
  .header-phone {
    font-size: 1rem;
    & + span {
      font-size: 12px;
    }
  }
  .footer-container {
    padding: 1.75rem 0 2.5rem;
  }
  .footer-copy {
    margin-top: .5rem;
  }
  .footer-copy, .footer-confidentiality, .footer-agreement {
    margin-bottom: 1rem;
  }
  .arrow-top {
    display: flex;
  }
  .header-slogan__mobile {
    display: block;
    padding-right: 0;
    margin-left: 0;
  }
  .header-phone__container {
    display: none;
  }
  .title-desctop {
    display: none;
  }
  .title-mobile {
    display: block;
  }
}

@media(max-width: 350px) {
  .mobile-phone {
    margin-left: -38px;
  }
  .cardiology-price__item:after {
    display: none;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .program-link__container {
    display: inline-block;
    min-height: 50px;
  }
  .program-link {
    display: inline-block;
    padding: 14.5px 3rem;
  }
  .reviews-slider__content {
    white-space: pre-line;
  }
  .sale-item__number::before {
    display: none;
    color: white;
  }
  .sale-item__number span {
    color: white;
  }
  .cost-form__line-column :first-child.cost-form__item {
    display: table-row-group;
  }
  .slider-big__item {
    .row {
      display: block !important;
    }
    .slider-btn {
      z-index: 2;
      width: 422px;
    }
  }
  .step-item__number::before {
    left: 0;
  }
  .fancy-video::before {
    left: 47%;
  }
  .info-item__icon {
    background-image: none;
    color: $green;
  }
  .gallery-items a::after {
    top: 50%;
    left: 50%;
    margin-left: -2.03rem;
    margin-top: -2.03rem;
  }
  .entertainment-icon, .interesting-item__icon, .pay-item__icon, .facilities-item__icon {
    background: none;
    color: $green;
    -webkit-text-fill-color: $green;
  }
  .callback-icon::before, .checkout-time:before, .marketing-title:before, .warning-info:before, .contact-line:before, .interesting-item__icon:before {
    background: none !important;
    color: $green;
    -webkit-text-fill-color: $green;
  }
  .interesting-item:hover {
    .interesting-item__icon:before {
      color: $white;
    }
  }
  .check-before {
    &:before {
      content: none;
    }
    &:after {
      background-color: transparent;
      content: '\e916';
      width: 20px;
      height: 20px;
      font-family: 'icomoon';
      transform: rotate(0);
      top: -5px;
      color: $blue;
      opacity: 0;
    }
  }
  .cardiology-price__item span {
    flex-basis: 50%;
    &:last-child {
      justify-content: flex-end;
      display: flex;
    }
  }
  .question-form__contact {
    width: 100%;
  }
  .check:checked + .check-before:after {
    opacity: 1;
  }
  .btn-green {
    padding: 14px 3.5rem;
    display: inline-block;
  }
  .question-form__icon::before {
    top: 15px;
    left: 25px;
    background: none !important;
    color: $green;
    -webkit-text-fill-color: $green;
  }
}
