.stock-items, .booking{
  background-color: #f3f3f3;
  padding-top: 100px;
  margin-top: 30px;
  margin-bottom: -5rem;
}

.booking{
  .container{
    margin-top: -100px;
  }
}

.stock-items__container{
  margin-top: -100px;
  position: relative;
  z-index: 1;
}

.stock-detail__container{
  position: relative;
  .container{
    position: relative;
    z-index: 1;
  }
}

.stock-pic{
  position: relative;
}

.stock-circle{
  width: 8.563rem;
  height: 8.563rem;
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 1.375rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.4rem;
  position: absolute;
  right: -2rem;
  top: -2rem;
  border-radius: 50%;
}